<div class="">
    <div class="contect_info_box">
      <div>
        <div class="bx_head">
          <h4 class="mb-0">Contact Information</h4>
          <div class="user_orge">View user Organizations</div>
        </div>
        <div class="contact_details">
          <div>
            <h5 class="mb-0">Email address</h5>
            <div class="d-flex align-items-center justify-content-between email_data">
              <span class="detail_title">hr@company.gmail.com <i class="fa-regular fa-circle-check"></i> <span
                  class="prime_acc">Primery</span></span> <span class="detail_value">Used 3 hours ago</span> <span
                class="detail_value">added 23 jul, 2024</span>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="edit_drop">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </div>
            <div class="d-flex align-items-center justify-content-between email_data">
              <span class="detail_title">hr@company.gmail.com <i class="fa-regular fa-circle-check"></i> <span
                  class="unvery"><i class="fa-solid fa-triangle-exclamation"></i> Unveryfied</span></span> <span
                class="detail_value">Used 3 hours ago</span> <span class="detail_value">added 23 jul, 2024</span>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="edit_drop">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <div class="mt-4">
            <h5 class="mb-0">Phone Number</h5>
            <div class="d-flex align-items-center justify-content-between email_data">
              <span class="detail_title">(+91) 9977 999 178 <i class="fa-regular fa-circle-check"></i></span>
              <span class="detail_value">Used 3 hours ago</span> <span class="detail_value">added 23 jul,
                2024</span>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="edit_drop">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </div>
            <div class="d-flex align-items-center justify-content-between email_data">
              <span class="detail_title">(+91) 9977 999 178 <i class="fa-regular fa-circle-check"></i> <span
                  class="prime_acc">Primery</span></span> <span class="detail_value">Used 3 hours ago</span> <span
                class="detail_value">added 23 jul, 2024</span>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="edit_drop">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>