.empty_file { background: #f1f1f1; color: #818181; font-size: 18px; font-weight: 500; line-height: 24px; padding: 18px 0; text-align: center; margin-top: 20px; }
.detail_title { font-size: 15px; font-weight: 500; color: #000; }
.detail_value { font-size: 16px; color: #333; }
.image_name { background: #ddd; padding: 10px; font-weight: 600; }
.img_card { border: 1px solid #ddd; border-radius: 10px; overflow: hidden; text-align: center; }