.email_data span:nth-child(2), .email_data span:nth-child(3) { width: 25%; }
.email_data span:first-child { width: 40%; }
.table { border: 1px solid #ddd; }

.detail_title { font-size: 16px; font-weight: 500; color: #000; margin-bottom: 10px; }
.detail_value { font-size: 16px; color: #333; line-height: normal;}
@media screen and (max-width: 767px) {
.email_data span:first-child { width: 100%; }
.email_data span:nth-child(2), .email_data span:nth-child(3) { width: 50%; }
   
}
