<div class="mt-4">
  <p class="mb-3 detail_value">Ensure the utmost safety in your logistics operations with up-to-date safety data
    periodically updated by the FMCSA. Carrier Network provides you with reliable information, helping you make
    well-informed decisions based on the latest safety standards. Checkout Violations, Accident, and Inspections report
    of <strong> Clover Fence</strong></p>
  <h5 class="">Authorizations</h5>
  <div class="d-flex align-items-center gap-2 mb-2">
    <h6 class="mb-0">FMCSA authority status:</h6><i class="fa-solid fa-circle custom_circal_green"></i><span>Contract
      Active</span>
  </div>
  <div class="d-flex align-items-center gap-2 mb-2">
    <h6 class="mb-0">Carrier operation:</h6> <span>Interstate Non Hazmat</span>
  </div>
  <div class="d-flex align-items-center gap-2 mb-2">
    <h6 class="mb-0">Cargo authorization:</h6><span>Property</span>
  </div>
  <h5 class="mt-4 pt-3 border-top mb-3">Safety Violations <i class="fa-regular fa-circle-info" matTooltip="tooltipText"
      aria-label="Button that displays a tooltip when focused or hovered over"></i></h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">Total</th>
        <th scope="col" class="text-center">Severe</th>
        <th scope="col" class="text-center">Out of Service</th>
        <th scope="col" class="text-center">Measure</th>
        <th scope="col" class="text-center">Percentile</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vehicle Maintenance</td>
        <td class="text-center"> 0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
      </tr>
      <tr>
        <td>Unsafe Driving</td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
      </tr>
      <tr>
        <td>Hours of Service Compliance</td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
      </tr>
      <tr>
        <td>Driver Fitness</td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
      </tr>
      <tr>
        <td>Controlled Substances</td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
        <td class="text-center">
          0
        </td>
      </tr>
    </tbody>
  </table>

  <h5 class="mb-3 mt-4">Accident Report <i class="fa-regular fa-circle-info" matTooltip="Write Info about 'Accident Report'"
      aria-label="Button that displays a tooltip when focused or hovered over"></i></h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">Last 6 Months</th>
        <th scope="col" class="text-center">6-12 Months ago</th>
        <th scope="col" class="text-center">12-24 Months ago</th>
        <th scope="col" class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Crashes</td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
      </tr>
      <tr>
        <td>Fatalities</td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0</td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
      </tr>
      <tr>
        <td>Injuries</td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
      </tr>
      <tr>
        <td>Tow-away</td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
      </tr>
    </tbody>
  </table>
  <h5 class="mb-3 mt-4">Inspections <i class="fa-regular fa-circle-info" matTooltip="Write Info about 'Inspections'"
      aria-label="Button that displays a tooltip when focused or hovered over"></i> </h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">Inspections</th>
        <th scope="col" class="text-center">OOS Inspections</th>
        <th scope="col" class="text-center">OOS Percentage</th>
        <th scope="col" class="text-center">National Average</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Driver</td>
        <td class="text-center"> 1 </td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
      </tr>
      <tr>
        <td>Fatalities</td>
        <td class="text-center"> 3 </td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
        <td class="text-center"> 0 </td>
      </tr>
    </tbody>
  </table>
</div>