<div class="content_box" *ngIf="!skeletonLoader">
	<div class="contnt_hed">
	  <div class="ch_l">
		<h3 class="ch_tlt">
		  Reviews You’ve Written ({{totalRecords ? totalRecords : '0'}})
		</h3>
	  </div>
	  <div class="ch_rl">
		<a [routerLink]="['/review/write-a-review']" class="cn_btn">Write a Review</a>
	  </div>
	</div>
	
  <div class="content_body">
    <P class="ch_dis">You have control over your review for these carriers. If you want to edit the review, simply click on the edit icons and modify it based on his needs and experience with these carriers. If you wish to delete the review you left for these carriers, please click the delete icon. We have included all of the review choices here.</P>
  </div>
</div>

<!-- <div class="select_sorting">
  <p class="fs_16 fsn_4 txt_lb f_clash">Sort by</p>
  <mat-select placeholder="sortingValue" [(ngModel)]="sortingValue" [ngModelOptions]="{standalone: true}" class="form-control cn_input">
    <mat-option [ngClass]="noData ? 'disabled': ''" (click)="sorting('ratingHighToLow')"
    value="ratingHighToLow" class="f_clash">Rating -- High to Low</mat-option>
    <mat-option [ngClass]="noData ? 'disabled': ''" (click)="sorting('ratingLowToHigh')"
    value="ratingLowToHigh" class="f_clash">Rating -- Low to High</mat-option>
    <mat-option [ngClass]="noData ? 'disabled': ''" (click)="sorting('newest')" value="newest"
    class="f_clash">Newest First</mat-option>
    <mat-option [ngClass]="noData ? 'disabled': ''" (click)="sorting('oldest')" value="oldest"
    class="f_clash">Oldest Last</mat-option>
  </mat-select>
</div> -->

<div class="manage_review_con">
	<div *ngIf="!skeletonLoader">
		<div class="review_mess_box" [ngClass]="{'review_mess_box': true, 'show_summary': showSummeryInfo[i]}" *ngFor="let reviewData of reviewList, let i=index;">
			<!-- for Carrier -->
			<div *ngIf="reviewData?.carrier">
				<div class="rmb_img_inicial">
					<img *ngIf="reviewData?.carrier?.profileImage" src="{{reviewData?.carrier?.profileImage}}" class="img-fluid">
					<span class="initail" *ngIf="!reviewData?.carrier?.profileImage && reviewData?.carrier?.companyName">{{(reviewData?.carrier?.companyName) | acronymOfName}}</span>
					<span class="initail" *ngIf="!reviewData?.carrier?.profileImage && !reviewData?.carrier?.companyName && reviewData?.carrier?.firstName && reviewData?.carrier?.lastName">{{getFullName(reviewData?.carrier?.firstName, reviewData?.carrier?.lastName) | acronymOfName}}</span>
          <span class="user_type">Carrier</span>
				</div>
				<div class="rmb_body">
					<div class="rmb_head_t">
						<div class="rmb_hltr_txt">
							<div class="rmb_ht">
								<div class="rmb_htl">
									<p class="rmb_slogan">
										<a href="https://carriernetwork.ai/carrier-profile/{{reviewData?.carrier.dotNumber}}/{{reviewData?.carrier.companyName}}/#review" class="trrb_nm pointer" target="_blank" (click)="redirectPageCarrier(reviewData.carrier.dotNumber,reviewData?.carrier.companyName)">
											<span class="txt_ellipsis" matTooltip="{{reviewData.carrier.companyName | titleCase | convertEnd}}">{{reviewData.carrier.companyName | titleCase | convertEnd}} </span>
										</a>
									</p>
									<div class="rmb_name_verify">
										<span class="user_rtng" *ngIf="reviewData?.rating">
											{{reviewData?.rating}}.0 <i class="fa-solid fa-star"></i>
										</span>
										<span class="rmb_rating">
											<span class="txt_lb fw_4">Reviewed at </span>
											<span class="rmb_rtng_date"> {{reviewData?.createdAt | date: 'MMM dd, yyyy'}}</span>
										</span>
									</div>
									<div class="rmb_saprate_rating">
										<span class="rmb_sr">Timeliness &nbsp; <b>{{reviewData.rateForTimeliness}}</b>/10</span>
										<span class="rmb_sr">Cleanliness &nbsp; <b>{{reviewData.rateForCleanliness}}</b>/10</span>
										<span class="rmb_sr">Communication &nbsp; <b>{{reviewData.rateForCommunication}}</b>/10</span>
									</div>
								</div>
								<div class="rmb_htr">
									<div class="rmb_dot_no">
										<span class="txt_lb fw_4">DOT #: </span>
										<span class="dot_no_vlu">{{reviewData?.carrier.dotNumber ? reviewData?.carrier.dotNumber : '-'}}</span>
									</div>
									<div class="rmb_actn">
										<button (click)="editReview(reviewData,reviewData?.id)" class="cn_btn edt_btn">Edit</button>
										<button (click)="deleteReview(reviewData,i)" class="cn_btn remov_btn">Remove</button>
									</div>
								</div>
						</div>
							
							<div class="rmb_mess">
								<div class="quote_mess">
									<span class="quote_dis">{{reviewData?.review}}</span>
								</div>
							</div>
						</div>
						
						<div class="sh_actn">
							<span class="view_full_review" (click)="showSummery('showSummery',i)" *ngIf="!showSummeryInfo[i]">
								<span>Show Summary</span>
								<span class="material-icons">keyboard_arrow_down</span>
							</span>
							<span class="view_full_review" (click)="showSummery('hideSummery',i)" *ngIf="showSummeryInfo[i]">
								<span>Hide Summary</span>
								<span class="material-icons">keyboard_arrow_up</span>
							</span>
						</div>
					</div>

					<div class="rmb_bottom">
						<div class="rmbb_box" *ngIf="showSummeryInfo[i]">
							<div class="sh_con">
								<div class="sh_box">
									<div class="other_info">
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Docket:</span>
											<span class="sngl_pont_vlu txt_lb"> {{reviewData.carrier.dunsNumber ? reviewData.carrier.dunsNumber : '-'}}</span>
										</p>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Freight Details:</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.cargoType?.length ==0">-</span>
											<span class="sngl_pont_vlu txt_lb" *ngFor="let cargoData of reviewData?.cargoType; let j=index">
												{{cargoData?.cargoTypeName ? cargoData?.cargoTypeName : '-'}}<span *ngIf="j+1 < reviewData?.cargoType?.length">, </span> 
											</span>
										</p>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Tracking:</span>
											<span class="sngl_pont_vlu txt_lb">
												<span *ngIf="reviewData?.tracking"> Offers electronic tracking, {{reviewData?.providerDetails ? reviewData?.providerDetails : '-'}}</span>
												<span *ngIf="!reviewData?.tracking"> {{reviewData?.tracking}}</span>
											</span>
										</p>										
										<div class="sngl_pont">
											<span class="sngl_pont_lbl">Lanes:</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.lane.length == 0"> -</span>
											<span *ngIf="reviewData?.lane.length > 0">
												<span class="pdt_instn_row" *ngFor="let laneData of reviewData?.lane.slice(0, showAll[i] ? reviewData?.lane?.length : 3)">
													<span class="sngl_pont_vlu txt_lb">{{laneData.fromCity}}, {{laneData?.fromStateCode}}</span>
													<span class="instn_arrow">></span>
													<span class="sngl_pont_vlu txt_lb">{{laneData.toCity}}, {{laneData?.toStateCode}}</span>
												</span>
												<button (click)="toggleShowAll(i)" *ngIf="reviewData?.lane?.length > 3" class="show_hid_btn">{{ showAll[i] ? 'Show Less' : 'Show More' }}</button>
											</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.lane.length===0"> Lane not added</span>
										</div>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">What went well:</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.whatWentWellType?.length == 0"> -</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.whatWentWellType?.length===0"> What went well is  not added</span>
											<span *ngIf="reviewData?.whatWentWellType?.length > 0">
												<div class="dful_chip grn_chip" *ngFor="let whatWentData of reviewData?.whatWentWellType;">
													{{whatWentData.whatWentWelTypeName ? whatWentData.whatWentWelTypeName : '-' }}
												</div>
											</span>
										</p>
										<div class="sngl_pont">
											<span class="sngl_pont_lbl">What went poorly?</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.whatWentPoorlyType?.length == 0"> -</span>
											<span *ngIf="reviewData?.whatWentPoorlyType?.length > 0">
												<div class="dful_chip gry_chip" *ngFor="let whatWentPoorlyData of reviewData?.whatWentPoorlyType;">
													{{whatWentPoorlyData.whatWentPoorlyTypeName ? whatWentPoorlyData.whatWentPoorlyTypeName : '-' }}
												</div>
											</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.whatWentPoorlyType?.length===0"> What went poorly is not added</span>
										</div>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Title:</span>
											<span class="sngl_pont_vlu txt_lb"> {{reviewData?.title ? reviewData?.title : '-'}}</span>
										</p>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Review:</span>
											<span class="sngl_pont_vlu txt_lb"> {{reviewData?.review ? reviewData?.review : '-'}}</span>
										</p>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Carrier Reply:</span>
											<span class="sngl_pont_vlu txt_lb font-italic"> {{reviewData?.carrierResponse ? reviewData?.carrierResponse : '-'}}</span>
										</p>
									</div>
								</div>
							</div>
							<!-- <div class="replyed_box" *ngIf="reviewData?.carrierResponse">
								<span class="instn_lbl">Your Reply: </span>
								<span class="txt_lb font-italic"> {{reviewData?.carrierResponse}}</span>
							</div> -->
							<!-- for broker  -->
							<!-- <div class="replyed_box" *ngIf="reviewData?.brokerResponse">
								<div class="pdt_instn_box m-0">
										<span class="instn_lbl">Your Reply: </span>
									<div class="pdt_instn_boxr">
										<div class="dful_chip gry_chip">
											<span class="instn_picup"> {{reviewData?.brokerResponse}}</span>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
			<!-- for Broker -->
			<div *ngIf="reviewData?.broker">
				<div class="rmb_img_inicial">
					<img *ngIf="reviewData?.broker?.profileImage" src="{{reviewData?.broker?.profileImage}}" class="img-fluid">
					<span class="initail" *ngIf="!reviewData?.broker?.profileImage && reviewData?.broker?.companyName">{{(reviewData?.broker?.companyName) | acronymOfName}}</span>
					<span class="initail" *ngIf="!reviewData?.broker?.profileImage && !reviewData?.broker?.companyName && reviewData?.broker?.firstName && reviewData?.broker?.lastName">{{getFullName(reviewData?.broker?.firstName, reviewData?.broker?.lastName) | acronymOfName}}</span>
          <span class="user_type">Broker</span>
				</div>
				<div class="rmb_body">
					<div class="rmb_head_t">
						<div class="rmb_hltr_txt">
							<div class="rmb_ht">
								<div class="rmb_htl">
									<p class="rmb_slogan">
										<a href="https://carriernetwork.ai/freight-brokerage/{{reviewData?.broker.dotNumber}}/{{reviewData?.broker.companyName}}/#review" class="trrb_nm pointer" target="_blank" (click)="redirectPageCarrier(reviewData?.broker.dotNumber,reviewData?.broker.companyName)">
											<span class="txt_ellipsis" matTooltip="{{reviewData.broker.companyName | titleCase | convertEnd}}">{{reviewData.broker.companyName | titleCase | convertEnd}} </span>
										</a>
									</p>
									<div class="rmb_name_verify">
										<span class="user_rtng" *ngIf="reviewData?.rating">
											{{reviewData?.rating}}.0 <i class="fa-solid fa-star"></i>
										</span>
										<span class="rmb_rating">
											<span class="txt_lb fw_4">Reviewed at </span>
											<span class="rmb_rtng_date"> {{reviewData?.createdAt | date: 'MMM dd, yyyy'}}</span>
										</span>
									</div>
									<div class="rmb_saprate_rating">
										<span class="rmb_sr">Timeliness &nbsp; <b>{{reviewData.rateForTimeliness ? reviewData.rateForTimeliness : '-'}}</b>/10</span>
										<span class="rmb_sr">Cleanliness &nbsp; <b>{{reviewData.rateForCleanliness ? reviewData.rateForCleanliness : '-'}}</b>/10</span>
										<span class="rmb_sr">Communication &nbsp; <b>{{reviewData.rateForCommunication ? reviewData.rateForCommunication : '-'}}</b>/10</span>
									</div>
								</div>
								<div class="rmb_htr">
									<div class="rmb_dot_no">
										<span class="txt_lb fw_4">DOT #: </span>
										<span class="dot_no_vlu">{{reviewData?.broker.dotNumber ? reviewData?.broker.dotNumber : '-'}}</span>
									</div>
									<div class="rmb_actn">
										<button (click)="editReview(reviewData,reviewData?.id)" class="cn_btn edt_btn">Edit</button>
										<button (click)="deleteReview(reviewData,i)" class="cn_btn remov_btn">Remove</button>
									</div>
								</div>
						</div>
							
							<div class="rmb_mess">
								<div class="quote_mess">
									<span class="quote_dis">{{reviewData?.review}}</span>
								</div>
							</div>
						</div>
						
						<div class="sh_actn">
							<span class="view_full_review" (click)="showSummery('showSummery',i)" *ngIf="!showSummeryInfo[i]">
								<span>Show Summary</span>
								<span class="material-icons">keyboard_arrow_down</span>
							</span>
							<span class="view_full_review" (click)="showSummery('hideSummery',i)" *ngIf="showSummeryInfo[i]">
								<span>Hide Summary</span>
								<span class="material-icons">keyboard_arrow_up</span>
							</span>
						</div>
					</div>

					<div class="rmb_bottom">
						<div class="rmbb_box" *ngIf="showSummeryInfo[i]">
							<div class="sh_con">
								<div class="sh_box">
									<div class="other_info">
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Docket:</span>
											<span class="sngl_pont_vlu txt_lb"> {{reviewData.broker.dunsNumber ? reviewData.broker.dunsNumber : '-'}}</span>
										</p>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Freight Details:</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.cargoType?.length ==0">-</span>
											<span class="sngl_pont_vlu txt_lb" *ngFor="let cargoData of reviewData?.cargoType; let j=index">
												{{cargoData?.cargoTypeName ? cargoData?.cargoTypeName : '-'}}<span *ngIf="j+1 < reviewData?.cargoType?.length">, </span> 
											</span>
										</p>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Tracking:</span>
											<span class="sngl_pont_vlu txt_lb">
												<span *ngIf="reviewData?.tracking"> Offers electronic tracking, {{reviewData?.providerDetails ? reviewData?.providerDetails : '-'}}</span>
												<span *ngIf="!reviewData?.tracking"> {{reviewData?.tracking}}</span>
											</span>
										</p>										
										<div class="sngl_pont">
											<span class="sngl_pont_lbl">Lanes:</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.lane.length == 0"> -</span>
											<span *ngIf="reviewData?.lane.length > 0">
												<span class="pdt_instn_row" *ngFor="let laneData of reviewData?.lane.slice(0, showAll[i] ? reviewData?.lane?.length : 3)">
													<span class="sngl_pont_vlu txt_lb">{{laneData.fromCity}}, {{laneData?.fromStateCode}}</span>
													<span class="instn_arrow">></span>
													<span class="sngl_pont_vlu txt_lb">{{laneData.toCity}}, {{laneData?.toStateCode}}</span>
												</span>
												<button (click)="toggleShowAll(i)" *ngIf="reviewData?.lane?.length > 3" class="show_hid_btn">{{ showAll[i] ? 'Show Less' : 'Show More' }}</button>
											</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.lane.length===0"> Lane not added</span>
										</div>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">What went well:</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.whatWentWellType?.length == 0"> -</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.whatWentWellType?.length===0"> What went well is  not added</span>
											<span *ngIf="reviewData?.whatWentWellType?.length > 0">
												<div class="dful_chip grn_chip" *ngFor="let whatWentData of reviewData?.whatWentWellType;">
													{{whatWentData.whatWentWelTypeName ? whatWentData.whatWentWelTypeName : '-' }}
												</div>
											</span>
										</p>
										<div class="sngl_pont">
											<span class="sngl_pont_lbl">What went poorly?</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.whatWentPoorlyType?.length == 0"> -</span>
											<span *ngIf="reviewData?.whatWentPoorlyType?.length > 0">
												<div class="dful_chip gry_chip" *ngFor="let whatWentPoorlyData of reviewData?.whatWentPoorlyType;">
													{{whatWentPoorlyData.whatWentPoorlyTypeName ? whatWentPoorlyData.whatWentPoorlyTypeName : '-' }}
												</div>
											</span>
											<span class="sngl_pont_vlu txt_lb" *ngIf="reviewData?.whatWentPoorlyType?.length===0"> What went poorly is not added</span>
										</div>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Title:</span>
											<span class="sngl_pont_vlu txt_lb"> {{reviewData?.title ? reviewData?.title : '-'}}</span>
										</p>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Review:</span>
											<span class="sngl_pont_vlu txt_lb"> {{reviewData?.review ? reviewData?.review : '-'}}</span>
										</p>
										<p class="sngl_pont">
											<span class="sngl_pont_lbl">Broker Reply:</span>
											<span class="sngl_pont_vlu txt_lb font-italic"> {{reviewData?.brokerResponse ? reviewData?.brokerResponse : '-'}}</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="skeletonloader" *ngIf="reviewList?.length==0 && !skeletonLoader">
		<div class="empty-state">
			<div class="empty-state__content">
				<div class="empty-state__icon">
					<img src="./assets/images/no_data_found_img.jpg" alt="">
				</div>
				<div class="empty-state__message">Invite For Review</div>
				<p class="empty-state__help">This is no Review available</p>
			</div>
		</div>
	</div>

	<div class="text-center" *ngIf="reviewList?.length > 0 && spinnerLoader">
		<span class="spinner-border" role="status" style="color: #00b4fc;"></span>
	</div>

	<div *ngIf="reviewList?.length > 0 && dataNotFound && !skeletonLoader" class="noMore_record">
		<span>There are no more records to show.</span>
	</div>

	<div class="skeletonloader" *ngIf="skeletonLoader">
		<div class="rpvc_skt" *ngFor="let fake of generateFakeSkeleton(2)">
			<div class="rpvc_skt_bx">
				<div class="rpvc_skt_l">
					<ngx-skeleton-loader count="1" [theme]="{ width: '80px', height: '80px' }"></ngx-skeleton-loader>
				</div>
				<div class="rpvc_skt_r">
					<ngx-skeleton-loader count="4" [theme]="{ 'border-radius': '0', width: '100%', height: '16px', margin: '0 0 4px' }"></ngx-skeleton-loader>
				</div>
			</div>
		</div>
	</div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
