<div class="unregistred_user_container">
  <div class="form_con">
    <div class="container">
      <div class="form_box">
        <form class="cn_field">
          <p class="form_tlt">
            <span>Unregistered Email</span>
          </p>
          <p class="form_dis">Thanks for attempting to claim <span class="fsm_5 txt_b">D D Trucking Inc</span> on Carriers network. Unfortunately we could not find a registered email address for this carrier with the US Department of Transportation.</p>
          <p class="form_dis">In order to finish your sign up, we need to have a business email where we can direct the business inquiries you receive on your profile.</p>
          <p class="form_dis">Please give us a call at <a href="tel:708-374-7144" class="fsm_5 txt_p">708-374-7144</a>, or email us at <a href="mailto:support@carriers.network" class="fsm_5 txt_p">support@carriers.network</a> so we can help complete your sign up!</p>
        </form>
      </div>
      <p class="acc_sign_up">
        <span>Don't have an account yet?</span>
        <span class="signup_txt" (click)="signUp()"> Sign up</span>
      </p>
    </div>
  </div>
</div>

