<div class="mt-4">

     <h4>Authorizations</h4>
     <div class="d-inline-flex align-content-center gap-2"><span class="detail_title">FMCSA authority status:</span>
          <span class="detail_value"> <i class="fa-solid fa-circle custom_circal_green"></i> Broker Active <i
                    class="fa-regular fa-circle-info" data-toggle="tooltip"></i></span>
     </div>
     <div class="fs-6"><a href="">Click here to view the authority history</a> of <strong> Briway Logistics
               LLC</strong><i class="fa-regular fa-circle-info" data-toggle="tooltip"></i> </div>
</div>