<div class="td_card_con">
  <div class="dashboard_chat_overview">
    <div class="dco_head">
      <div class="dcoh_l">
        <p class="dco_h_tlt">90 Days Profile Performance</p>
      </div>
      <!-- <div class="dcoh_r cn_field">
        <div class="ic_dropdown">
          <mat-form-field appearance="none" class="cn_inpt_drop">
            <mat-select [(ngModel)]="selectedChart" name="chartType">
              <mat-option value="country">Top Country</mat-option>
              <mat-option value="city">Top City</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->
    </div>
    
    <div class="dco_box">
      <div class="row">
        <div class="col-md-6 pie_crt_box">
          <div class="row">
            <div class="col-md-5">
              <div class="d-flex align-items-center h-100">
                <div class="lbl_1 w-100">
                  <div class="dco_bar">
                    <div class="bar_hed">
                      <span class="bar_txt">Total Views </span> <span class="bar_vlu"> {{carrierContactAnalyticsData.totalViews}}</span>
                    </div>
                    <mat-progress-bar mode="determinate" [value]="totalViewsPercentage"></mat-progress-bar>
                  </div>
                  <div class="dco_bar">
                    <div class="bar_hed">
                      <span class="bar_txt">Unique Visitors </span> <span class="bar_vlu"> {{carrierContactAnalyticsData.uniqueVisiter}}</span>
                    </div>
                    <mat-progress-bar mode="determinate" [value]="uniqueVisitorsPercentage"></mat-progress-bar>
                  </div>
                  <div class="dco_bar">
                    <div class="bar_hed">
                      <span class="bar_txt">Repeat Visitors </span> <span class="bar_vlu"> {{carrierContactAnalyticsData.totalRepeatCount}}</span>
                    </div>
                    <mat-progress-bar mode="determinate" [value]="repeatVisitorsPercentage"></mat-progress-bar>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="chart_box">
                <div class="cb_circle">
                  <canvas id="userTypeChartC1"></canvas>
                </div>
                <p class="chart_txt text-center">User Type</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 bar_crt_box">
          <div class="row">
            <div class="col-md-8">
              <div class="country_chart" [ngClass]="{'d-none': selectedChart !== 'country'}">
                <div class="">
                  <canvas id="topCountryChartC1"></canvas>
                </div>
              </div>
              <div class="city_chart" [ngClass]="{'d-none': selectedChart !== 'city'}">
                <div class="">
                  <canvas id="cityDistributionChartC1"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="chart_info_box">
                <div class="cn_field">
                  <div class="ic_dropdown">
                    <mat-form-field appearance="none" class="cn_inpt_drop">
                      <mat-select [(ngModel)]="selectedChart" name="chartType">
                        <mat-option value="country">Top Country</mat-option>
                        <mat-option value="city">Top City</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="chart_info" [ngClass]="{'d-none': selectedChart !== 'country'}">
                  <p class="cif_lbl">Top Country Viewers</p>
                  <ul>
                    <li>
                      <span class="chart_txt">In USA: 750 </span>
                    </li>
                    <li>
                      <span class="chart_txt">In Canada: 150 </span>
                    </li>
                    <li>
                      <span class="chart_txt">In Mexico: 100 </span>
                    </li>
                  </ul>
                </div>
                <div class="chart_info" [ngClass]="{'d-none': selectedChart !== 'city'}">
                  <p class="cif_lbl">Top City Viewers</p>
                  <ul>
                    <li>
                      <span class="chart_txt">Los Angeles: 60 </span>
                    </li>
                    <li>
                      <span class="chart_txt">New York: 20 </span>
                    </li>
                    <li>
                      <span class="chart_txt">Toronto: 20 </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table_data_con">
    <div class="table_actions">
      <form class="cn_field">
        <div class="btns_box">
          <div class="row">
            <div class="col-md-5">
              <div class="comn_fltr" [ngClass]="{'d-none': showAdvancedFilter}">
                <mat-form-field appearance="none">
                  <mat-label>Table Search</mat-label>
                  <mat-icon matTextPrefix class="material-symbols-outlined">filter_list</mat-icon>
                  <input type="text" matInput placeholder="Search" class="form-control cn_input ms-2">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-7">
              <div class="btn_r">
                <span class="cn_btn txt_btn">
                  <i class="fa-solid fa-plus me-2"></i>
                  <span>View All</span>
                </span>
                <span class="cn_btn txt_btn">
                  <i class="fa-solid fa-plus me-2"></i>
                  <span>Add</span>
                </span>
                <span class="cn_btn icn_btn adv_filter_btn" (click)="toggleFilter()">
                  <i class="fa-sharp fa-solid fa-filter"></i>
                  <!-- <i class="fa-duotone fa-solid fa-sliders"></i> -->
                </span>
                <span class="cn_btn icn_btn">
                  <i class="fa-duotone fa-solid fa-rotate-right"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="filter_box" [ngClass]="{'d-none': !showAdvancedFilter}">
            <div class="filtr_con">
                <p class="txt_2 fw_6 mb-3">Advanced Filter</p>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>User Type</mat-label>
                      <mat-select>
                        <mat-option value="carrier">Carrier</mat-option>
                        <mat-option value="shipper">Shipper</mat-option>
                        <mat-option value="broker">Broker</mat-option>
                        <mat-option value="Dispature">Dispature</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>Country</mat-label>
                      <mat-select>
                        <mat-option value="us">United State</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>State</mat-label>
                      <mat-select>
                        <mat-option value="texas">Texas</mat-option>
                        <mat-option value="florida">Florida</mat-option>
                        <mat-option value="indiana">Indiana</mat-option>
                        <mat-option value="california">California</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>City</mat-label>
                      <mat-select>
                        <mat-option value="houston">Houston</mat-option>
                        <mat-option value="miami">Miami</mat-option>
                        <mat-option value="indianapolis">Indianapolis</mat-option>
                        <mat-option value="bakersfield">Bakersfield</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>Postal Code</mat-label>
                      <input type="text" matInput placeholder="Search">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>Page Viewed</mat-label>
                      <input type="text" matInput placeholder="Search">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="date_range_filter">
                      <mat-label>Accessed At</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                      </mat-date-range-input>
                      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <p class="cn_input_lbl">Checkbox</p>
                    <mat-checkbox class="me-3">Checked</mat-checkbox>
                    <mat-checkbox class="">Indeterminate</mat-checkbox>
                  </div>
                  <div class="col-md-3">
                    <p class="cn_input_lbl">Radio Button</p>
                    <mat-radio-group>
                      <mat-radio-button value="1" class="me-3">Option 1</mat-radio-button>
                      <mat-radio-button value="2">Option 2</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="col-md-3">
                    <p class="cn_input_lbl">Toggle</p>
                    <mat-button-toggle-group class="toggle_switch" name="fontStyle" aria-label="Font Style">
                      <mat-button-toggle value="yes">Yes</mat-button-toggle>
                      <mat-button-toggle value="no">NO</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                  <div class="col-md-12">
                    <div class="fltr_actn">
                      <button class="cn_btn btn_bordered">Clear</button>
                      <button class="cn_btn">Apply</button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="table_data" tabindex="0">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name" sticky>
          <th mat-header-cell *matHeaderCellDef>
            <div class=" sticky_boder"> User </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="user_dtl sticky_boder">
              <div class="ud_l">
                <i class="fa-duotone fa-solid fa-circle-user user_icon"></i>
                <!-- <img src="/assets/images/tst_profile_img.png" class="img-fluid"> -->
                <span class="user_Type">Carrier</span>
              </div>
              <div class="ud_r">
                <div class="name_icn">
                  <a href="#" class="u_name">{{element.name}}</a>
                  <i class="fa-duotone fa-badge-check verify_icon" matTooltip="Account not Verified"></i>
                  <!-- <i class="fa-duotone fa-badge-check verify_icon user_verified" matTooltip="Account Verified"></i> -->
                </div>
                <div class="loca_rtng">
                  <span class="user_rtng" matTooltip="Total 10 Reviews">4.5 <i class="fa-solid fa-star"></i> </span>
                  <!-- <span class="user_rtng zero_rating" matTooltip="0 Review">0.0 <i class="fa-solid fa-star"></i> </span> -->
                  <span class="u_loca">Jacksonville, FL</span>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="pageSource">
          <th mat-header-cell *matHeaderCellDef> Page Source </th>
          <td mat-cell *matCellDef="let element">
            <a href="https://carriernetwork.ai/carrier-profile/3900988/jax-logistics-llc" class="txt_lnk" target="_blank">{{element.pageSource}}</a>
          </td>
          <td mat-cell *matCellDef="let element">
            <a href="https://carriernetwork.ai/carrier-profile/3900988/jax-logistics-llc" class="txt_lnk" target="_blank">Broker detail</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef class="loca_w mob_txt_cntr"> Location </th>
          <td mat-cell *matCellDef="let element" class="mob_txt_cntr">
            <img src="/assets/country/us.png" class="flaf_icn">
            82934, Alachua, Florida
          </td>
        </ng-container>
        <ng-container matColumnDef="platform">
          <th mat-header-cell *matHeaderCellDef> Platform </th>
          <td mat-cell *matCellDef="let element">
            <div class="comn_icn">
              <i class="fa-regular {{element.platform}} platform_in" matTooltip="Desktop Device"></i>
              <!-- <i class="fa-regular fa-tablet platform_in"></i>
              <i class="fa-regular fa-mobile platform_in"></i> -->
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="os">
          <th mat-header-cell *matHeaderCellDef> OS </th>
          <td mat-cell *matCellDef="let element">
            <div class="comn_icn">
              <img src="{{element.os}}" matTooltip="Windows Operating System">
              <!-- <img src="/assets/images/android.png">
              <img src="/assets/images/ios.png"> -->
              <!-- <i class="fa-brands fa-apple os_icn"></i>
              <i class="fa-brands fa-linux os_icn"></i>
              <i class="fa-brands fa-ubuntu os_icn"></i> -->
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="browser">
          <th mat-header-cell *matHeaderCellDef> Browser </th>
          <td mat-cell *matCellDef="let element">
            <div class="comn_icn">
              <img src="{{element.browser}}" matTooltip="Chrome Browser">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="accessedAt">
          <th mat-header-cell *matHeaderCellDef> Accessed At </th>
          <td mat-cell *matCellDef="let element">{{element.accessedAt}}</td>
        </ng-container>
        <ng-container matColumnDef="timeSinceAccess">
          <th mat-header-cell *matHeaderCellDef class="time_since"> Time Since Access </th>
          <td mat-cell *matCellDef="let element">{{element.timeSinceAccess}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>