<div class="">
    <div class="d-flex align-items-center justify-content-between gap-2 user_details_box">
      <div class="d-flex align-items-center gap-3 carrier_profile">
        <div class="position-relative">
          <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/avatar-659652_640.png" class="user_profile">
          <!-- <div class="status_dot"></div> -->
        </div>
        <div>
          <h2 class="d-inline-flex align-items-center gap-2 mb-0 flex-sm-wrap-reverse fw-bold">Clover Fence
            <div class="chip">
              <span class="chip chip-interstate-non-hazmat">Interstate Non-Hazmat</span>
              <span class="chip chip-non-hazmat">Non-Hazmat</span>
              <span class="chip chip-intrastate">Intrastate</span>
          </div>
          </h2>
          <!-- <div class="status">Active</div> -->
          <div class="usib_reviw">
            <div class="rtng_stars">
              <div class="star-rating">
                <div class="back-stars">
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                </div>
              </div>
            </div>
            <span class="reviws"> <a  class="reviws_lnk txt_p" (click)="openReviewsTab($event)"> (0 reviews) </a><span class="num_value">0 out of 5</span>
            </span>
          </div>
          <p class="detail_value linear_value mt-2 fs-6">19 Jun, 2020 (4 Years, 7 Months)</p>
          
          <div class="d-flex align-items-center gap-2 w-100 mt-2"><span><span class="detail_title linear_value">DOT#:</span>
              <span class="detail_value linear_value"> 3442879</span></span> |<span><span class="detail_title linear_value">Docket#:</span>
              <span class="detail_value linear_value"> MC1118651</span></span> </div>
        </div>
      </div>
      <div class="other_details">

      </div>
    </div>
  </div>