<div class="profile_box mt-4">
    <div class="">
        <h4 class="d-flex gap-2 align-items-center"> <i class="fa-solid fa-house-medical" style="font-size: 20px;"></i>Fleet Details</h4>
        <table class="table w-50">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Tractors</th>
                    <th scope="col">Trailers</th>
                    <th scope="col">Trucks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Owned</td>
                    <td>5</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Leased</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Temporary</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>