<div class="content_box">
	<div class="contnt_hed mb-1">
	  <div class="ch_l">
		  <h3 class="ch_tlt">Review Invitation ({{totalRecords ? totalRecords : '0'}})</h3>
	  </div>
	  <div class="ch_rl"></div>
	</div>
  <div class="content_body" *ngIf="!skeletonLoader">
    <p class="content_dis"> 
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, laudantium harum eos a veritatis ex cumque sapiente obcaecati molestias suscipit sed dolor velit earum. Qui quae vero molestias nihil porro?
    </p>

    <div class="cslc_box" *ngFor="let reviewInvitationData of reviewInvitationList; let i=index;">
      <div class="cslc_crd">
        <div class="cslc_crd_l">
          <div class="cslc_crd_ll">
            <div class="cslc_bl_img" *ngIf="reviewInvitationData?.profileImage">
              <img src="{{reviewInvitationData?.profileImage}}" class="img-fluid">
            </div>
            <div class="cslc_bl_initail" *ngIf="!reviewInvitationData?.profileImage">
              <span class="initail">{{reviewInvitationData?.compnayName | acronymOfName}}</span>
            </div>
          </div>
          <div class="cslc_crd_lr">
            <div class="cslc_nm">
              <span class="txt_ellipsis" matTooltip="{{reviewInvitationData?.compnayName}} ">{{reviewInvitationData?.compnayName}} </span>
            </div>
            <div class="crd_row_info">
              <span class="user_rtng">
                <span>{{reviewInvitationData?.averageRatingValue ? reviewInvitationData?.averageRatingValue : '0'}}.0</span>
                <i class="fa-solid fa-star"></i>
              </span>
              <a href="https://carriernetwork.ai/carrier-profile/{{reviewInvitationData?.dotNumber}}/{{reviewInvitationData?.companyName}}/#review" target="_blank" (click)="redirectPageCarrier(reviewInvitationData?.dotNumber,reviewInvitationData?.compnayName)" class="totl_review">
                {{reviewInvitationData?.averageRatingValue ? reviewInvitationData?.averageRatingValue : '0'}} 
                <span>Review<span *ngIf="reviewInvitationData?.averageRatingValue > 1">s</span></span> 
              </a>
              <span class="boder_sapration">
                <span class="fw_4 txt_lb" *ngIf="!isAddressEmpty(reviewInvitationData?.phyCity, reviewInvitationData?.phyStateCode, eviewInvitationData?.phyZipShort)"> 
                  {{ getFormattedAddress(reviewInvitationData?.phyCity, reviewInvitationData?.phyStateCode, reviewInvitationData?.phyZipShort) }}
                </span>
                <span *ngIf="isAddressEmpty(reviewInvitationData?.phyCity, reviewInvitationData?.phyStateCode, eviewInvitationData?.phyZipShort)" class="fw_4 txt_lb">-</span>
              </span>
              <span class="fw_4 txt_lb boder_sapration"> {{UTCDate(reviewInvitationData?.invitationDate) | date: 'MMM dd, yyyy'}}</span>
            </div>
            <div class="crd_row_info">
              <p class="cslc_dot">
                <b class="fw_4 txt_lb">DOT #: </b>
                <span class="txt_b"> {{reviewInvitationData?.dotNumber ? reviewInvitationData?.dotNumber : '-'}}</span>
              </p>
              <p class="cslc_dot boder_sapration">
                <b class="fw_4 txt_lb">Docket: </b>
                <span class="txt_b"> {{reviewInvitationData?.dunsNumber ? reviewInvitationData?.dunsNumber : '-'}}</span>
              </p>
              <p class="cslc_dot boder_sapration">
                <b class="fw_4 txt_lb">Name: </b>
                <span class="txt_b"> {{reviewInvitationData?.fullName ? reviewInvitationData?.fullName : '-'}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="cslc_crd_r">
          <!-- <app-review-show [averageRating]="reviewInvitationData?.averageRatingValue ? reviewInvitationData?.averageRatingValue : '0'"></app-review-show> -->
          <button class="cn_btn web_cn_btn" (click)="redirectPageCity(reviewInvitationData)">Write a Review</button>
        </div>
      </div>
      <div class="note_mess">{{reviewInvitationData?.invitationMessage ? reviewInvitationData?.invitationMessage : '-'}}</div>
      <div class="text-end">
        <button class="cn_btn tab_cn_btn" (click)="redirectPageCity(reviewInvitationData)">Write a Review</button>
      </div>
    </div>

    <div class="text-center" *ngIf="reviewInvitationList?.length > 0 && spinnerLoader">
      <span class="spinner-border" role="status" style="color: #00B4FC;"></span>
    </div>

    <div *ngIf="reviewInvitationList?.length > 0 && dataNotFound && !skeletonLoader" class="noMore_record">
      <span>There are no more records to show.</span>
    </div>
  
    <div class="saved_carrier_list_con" class="skt_eifr" *ngIf="skeletonLoader">
      <div class="mb-3">
        <ngx-skeleton-loader count="1" [theme]="{ width: '100%', height: '24px', margin: '0px 0 0px' }"></ngx-skeleton-loader>
      </div>
      <div class="scl_row pt-3 px-3" *ngFor="let fake of generateFakeSkeleton(8)" style="display: block;">
        <ngx-skeleton-loader count="1" [theme]="{ width: '100%', height: '32px', margin: '0px 0 0px' }"></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop:true }"></ngx-loading>