.cslc_box { padding: 1rem; margin: 0 0 1rem; border: 1px solid #ddddddbf; position: relative; }
.cslc_crd { display: flex; align-items: center; justify-content: space-between; width: 100%; padding: 0 0 1rem; border-bottom: 1px solid #dfdfdf85; margin: 0 0 1rem; }
.cslc_crd_l { display: flex; max-width: calc(100% - 170px); width: 100%; }
.cslc_crd_ll { background: #FFFFFF; border: 1px solid #D9D9D9; overflow: hidden; min-width: 75px; max-width: 75px; width: 75px; height: 75px; display: flex; margin: 0px 12px 0 0px; }
.cslc_crd_ll .cslc_bl_img { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; }
.cslc_crd_ll .cslc_bl_initail { display: flex; flex-direction: column; align-items: center; justify-content: center; background: #00b4fc; color: #fff; width: 100%; height: 100%; }
.cslc_crd_ll .cslc_bl_initail .initail { font-size: 38px; line-height: 40px; font-weight: 600; }
.cslc_nm { font-weight: 600; font-size: 20px; line-height: 24px; color: #333333; margin: 0 0 4px; display: flex; align-items: center; text-transform: capitalize; }
.cslc_nm .txt_ellipsis { max-width: calc(100% - 120px); display: inline-block; }

.cslc_crd_r { max-width: 170px; width: 100%; }
.cslc_reviw app-review-show { line-height: 1; margin: 2px 0 0px; }
.cslc_crd_lr { width: 100%; max-width: calc(100% - 90px); }
.note_mess { font-size: 15px; line-height: 20px; font-weight: 400; color: #818181; font-style: italic; margin: 0px; }

.boder_sapration { padding: 0 0 0 .6rem; margin-left: .6rem; border-left: 1px solid #ddd; }
.user_rtng { background: #00b007; color: #fff; padding: 1px 4px; font-size: 12px; line-height: 14px; border-radius: 4px; display: inline-flex; align-items: center; gap: 2px; }
.user_rtng i { font-size: 9px; line-height: 10px; }
.crd_row_info { font-size: 15px; line-height: 20px; display: flex; align-items: center; flex-wrap: wrap; margin: 6px 0 0; }
.totl_review { color: #00b4fc; display: inline-block; margin: 0 0 0 6px; }
.noMore_record { text-align: center;  padding: 12px 16px; border-radius: 4px; }
.tab_cn_btn { display: none; }

@media (max-width: 1023px) {
  .cslc_box { padding: 0.5rem; }
  .cslc_crd { padding: 0 0 0.7rem; margin: 0 0 0.6rem; }
  .cn_btn { font-size: 14px; line-height: 18px; padding: 8px 12px; }
  .web_cn_btn { display: none; }
  .tab_cn_btn { display: inline-block; }
  .cslc_crd_l { max-width: 100%; }
  .cslc_crd_r { width: auto; }
  .cslc_nm { font-size: 17px; line-height: 20px; }
  .crd_row_info { font-size: 14px; }
  .note_mess { font-size: 14px; margin: 0 0 6px; }
}

@media (max-width: 767px) {
  .cslc_crd_l { max-width: 100%; }
  .cslc_crd_ll { min-width: 50px; max-width: 50px; width: 50px; height: 50px; }
  .cslc_crd_ll .cslc_bl_initail .initail { font-size: 15px; line-height: 20px; }
  .cslc_crd_r { max-width: 100px;  position: absolute; right: 0px; top: 68px; }
  .cslc_crd_lr { max-width: 100%; }
}

