<div class="signup_form_container">
  <div class="form_con">
    <div class="container">
      <div class="form_box">
        <form class="cn_field" [formGroup]="signUpForm" (ngSubmit)="signUpFormSubmit(signUpForm)">
          <p class="form_tlt">
            <span>Welcome to Carrier</span>
            <span class="txt_p"> Network</span>
          </p>
          <div class="row">
            <div class="col-md-12">
              <p class="cn_input_lbl">Company Name 
                <span class="txt_d"> *</span>              </p>      
              <mat-form-field appearance="none">
                <input  readonly matInput type="text" formControlName="companyName" placeholder="Enter Company Name" class="form-control cn_input" maxlength="128" autocomplete="off"/>
                <!-- <input *ngIf="!signUpForm?.companyName"  matInput type="text" formControlName="companyName" placeholder="Enter Company Name" class="form-control cn_input" maxlength="64"/> -->
                <mat-error *ngIf="signUpForm.get('companyName').errors?.['required']" class="error_mess">Company name is required.</mat-error>
                <mat-error *ngIf="signUpForm.get('companyName').errors?.['maxlength']" class="error_mess">Only 64 characters are allowed..</mat-error>
              </mat-form-field>
              <p class="cn_input_lbl">Email<span class="txt_d"> *</span></p>
              <mat-form-field appearance="none">
                <input readonly *ngIf="userSearchRecord && userSearchRecord[0]?.email" matInput type="text" formControlName="emailAddress" [value]="signUpForm.get('emailAddress').value | xmask"
                  placeholder="Enter Email Address" maxlength="128" class="form-control cn_input" autocomplete="off"  />
                  <input *ngIf="userSearchRecord && !userSearchRecord[0]?.email"  matInput type="text" formControlName="emailAddress" 
                  placeholder="Enter Email Address" maxlength="128" class="form-control cn_input" autocomplete="off"  />
                <mat-error *ngIf="submitted && signUpForm.get('emailAddress').errors?.['required']" class="error_mess"> Email is required.</mat-error>
                <mat-error *ngIf="signUpForm.get('emailAddress').errors?.['pattern']" class="error_mess">Please enter valid email address.</mat-error>
                <mat-error *ngIf="(signUpForm.get('emailAddress').errors?.['maxlength']) && !(signUpForm.get('emailAddress').errors?.['pattern'])" class="error_mess">Email must not exceed 128 characters.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <p class="cn_input_lbl">First Name<span class="txt_d"> *</span></p>
              <mat-form-field appearance="none" style="display:none">
                <input matInput type="text" formControlName="dotNumber" placeholder="Enter Dot Number" class="form-control cn_input" autocomplete="off"/>
                <mat-error *ngIf="submitted && signUpForm.get('dotNumber').errors?.['required']" class="error_mess"> dotNumber is required.</mat-error>

              </mat-form-field>
              <mat-form-field appearance="none">

                <input matInput type="text" formControlName="firstName" placeholder="Enter First Name" maxlength="128" class="form-control cn_input" autocomplete="off"/>
                <mat-error *ngIf="submitted && signUpForm.get('firstName').errors?.['required']" class="error_mess"> First Name is required.</mat-error>
                <mat-error *ngIf="signUpForm.get('firstName').errors?.['maxlength']" class="error_mess">First name must not exceed 128 characters.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <p class="cn_input_lbl">Last Name<span class="txt_d"> *</span></p>
              <mat-form-field appearance="none">
                <input matInput type="text" formControlName="lastName" placeholder="Enter Last Name" maxlength="128" class="form-control cn_input" autocomplete="off"  />
                <mat-error *ngIf="submitted && signUpForm.get('lastName').errors?.['required']" class="error_mess">Last Name is required.</mat-error>
                <mat-error *ngIf="signUpForm.get('lastName').errors?.['maxlength']" class="error_mess">First name must not exceed 128 characters.</mat-error>
              </mat-form-field>
            </div>

            <p class="cn_input_lbl">Contact Number
              <img *ngIf="defualtCountryFlag" [src]="defualtCountryFlag" class="flag_img">
              <img *ngIf="!defualtCountryFlag" src="https://carriernetwork.ai/images/country/US.png" width="20px">
              <span class="txt_d"> *</span>
            </p>
            <div class="country_code_dropdown">
              <mat-form-field appearance="none" class="cn_inpt_drop">
                <div class="country_code_fld">
                  <mat-select *ngIf="userSearchRecord && userSearchRecord[0]?.phyCountryCode" formControlName="countryCode" (selectionChange)="selectCountryCode($event.value)"
                    placeholder="Select Country Code" class="form-control custom_input">
                    <mat-option  *ngFor="let cou of countryList" [value]="cou.code">
                      <img [src]="cou.flag" name="cla" class="flag_img">
                      <span style="margin-left: 5px;">+{{cou.countryCode}}</span>
                    </mat-option>
                  </mat-select>

                  <mat-select *ngIf="userSearchRecord && !userSearchRecord[0]?.phyCountryCode" formControlName="countryCode" (selectionChange)="selectCountryCode($event.value)"
                    placeholder="Select Country Code" class="form-control custom_input">
                    <mat-option  *ngFor="let cou of countryList" [value]="cou.code">
                      <img [src]="cou.flag" name="cla" class="flag_img">
                      <span style="margin-left: 5px;">+{{cou.countryCode}}</span>
                    </mat-option>
                  </mat-select>
                </div>
              </mat-form-field>
              <mat-form-field appearance="none">
                <input readonly matInput *ngIf="userSearchRecord[0]?.phone"  type="text" formControlName="mobile" (keypress)="onlyNumberKey($event)" placeholder="Enter Contact Number" maxlength="10" class="form-control cn_input" autocomplete="off" />
                <input  matInput  *ngIf="!userSearchRecord[0]?.phone" type="text" formControlName="mobile" (keypress)="onlyNumberKey($event)" placeholder="Enter Contact Number" maxlength="10" class="form-control cn_input" autocomplete="off" />
                <mat-error class="error_mess d_inline" *ngIf="signUpForm.get('mobile').errors?.['required']">Contact number is required.</mat-error>

                <mat-error class="error_mess d_inline" *ngIf="(signUpForm.get('mobile').errors?.['pattern'])">Contact number should be number.</mat-error>
                <mat-error class="error_mess d_inline ms-1" *ngIf="signUpForm.get('mobile').errors?.['minlength'] && (!signUpForm.get('mobile').errors?.['pattern'])">Contact Number should be 10 digit.</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-12 cn_pfix_sfix">
              <p class="cn_input_lbl">Password<span class="txt_d"> *</span></p>
              <mat-form-field appearance="none" class="ic_password">
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"  placeholder="Enter Password" class="form-control cn_input"  minlength="6" maxlength="16"/>
                <mat-icon matSuffix  class="txt_lb password_icn" (click)="showHidePassword(hide);">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="submitted && signUpForm.get('password').errors?.['required']" class="error_mess">Password is required.</mat-error>
                <mat-error *ngIf="signUpForm.get('password').errors?.['minlength']" class="error_mess">Password must be at least 6 characters long.</mat-error>
                <mat-error *ngIf="signUpForm.get('password').errors?.['maxlength']" class="error_mess">Only 16 characters are allowed.</mat-error>
              </mat-form-field>
              <small class="remember_password error_mess" *ngIf="loginmessageError">{{loginmessageError}}</small>
            </div>            
            <div class="form_action">
              <button class="cn_btn" type="submit">Claim My Profile</button>
            </div>
          </div>
        </form>
      </div>
      <p class="acc_sign_up">
        <span>Already have an account?</span> 
        <span class="signup_txt" (click)="signIn()"> Sign in</span>
      </p>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
