.row_actn { display: flex; gap: 0.6rem; }
.user_img_container {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
/* Light grey background if no image */
  }
  
  .user_img {

    object-fit: cover; /* Ensures the image fills the circular area without distortion */
    border-radius: 50%;
  }

  .txt_lnk {
    text-decoration: none;
    color: #007bff;
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  
  .hover-container {
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  .svg-container .fa-arrow-up-right-from-square { font-weight: 600; }
  .svg-container {
    display: none;             /* Hide SVG by default */
    margin-left: 5px;
    transition: opacity 0.3s ease;  /* Smooth appearance */
  }
  
  .hover-container:hover .svg-container {
    display: inline;            /* Show on hover */
    opacity: 1;
  }
  .txt_lnk { position: relative; }
.show_icon:hover .svg-container {
  display: inline; /* Show on hover */
  position: absolute;
  right: -20px;
  top: 1px;
}
  .adv_filter_btn.active-filter {
    background: #0fc00f;
    }
    .adv_filter_btn { position: relative; }
    .acrive_circle { position: absolute; top: -4px; left: -5px; color: #818181; font-size: 13px;  opacity: 0; }
    .adv_filter_btn.active-filter .acrive_circle { opacity: 1; }

    .spinner-border {
      display: inline-block;
      width: 21px;
      height: 21px;
      vertical-align: -0.125em;
      border: 2px solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      animation: 0.75s linear infinite spinner-border;
      margin: 2px 0 0 6px;
    }
    .blue-icon {
      color: #00b4fc;
    }
    
    .gray-icon {
      color: gray;
    }




    .row_actn { display: flex; gap: 0.6rem; }
    .user_img_container { border-radius: 50%; display: flex; align-items: center; justify-content: center; }
    .user_img { object-fit: cover; border-radius: 50%; }
    .table_data_con .highlight-filter { border: 1px solid #00b4fc; background-color: #e7f1ff; transition: all 0.3s ease-in-out; }
    .onhover_show_icon a { text-decoration: none; }
    .onhover_show_icon i { display: inline-block; margin-left: 4px; text-decoration: none; opacity: 0; }
    .onhover_show_icon:hover i { opacity: 1; }
    
    .adv_filter_btn.active-filter { background: #0fc00f; }
    .adv_filter_btn { position: relative; }
    .acrive_circle { position: absolute; top: -4px; left: -5px; color: #818181; font-size: 13px;  opacity: 0; }
    .adv_filter_btn.active-filter .acrive_circle { opacity: 1; }
    
    .spinner-border { width: 20px; height: 20px; }
    .spinner_loader { min-height: 54px; padding: 13px 0px 0px; }
    
    .table_data_con {
        .comn_fltr { display: flex; align-items: center; height: 100%; }
        .table_actions { margin: 0 0 1.5rem; }
        .btns_box { margin: 0 0 0rem; border-bottom: none; }
    }