<div class="td_card_con">
  <div class="table_data_con">
    <div class="table_actions">
      <form class="cn_field" [formGroup]="filterForm">
        <div class="btns_box">
          <div class="row">
            <div class="col-md-5">
              <div class="comn_fltr">
                <p class="txt_2 fw_6" [ngClass]="{ 'd-none': !showAdvancedFilter }">Advanced Filter</p>
                <mat-form-field appearance="none" [ngClass]="{ 'd-none': showAdvancedFilter }">
                  <mat-label>Quick Search</mat-label>
                  <mat-icon matTextPrefix class="material-symbols-outlined">filter_list</mat-icon>
                  <input type="text" matInput placeholder="Search by user" class="form-control cn_input ms-2"
                    [formControl]="searchControl" (keyup)="applyFilter()" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-7">
              <div class="btn_r">
                <span class="cn_btn icn_btn adv_filter_btn" (click)="toggleFilter()" *ngIf="isAdvancedFilterVisible()"
                  [ngClass]="{
                    'active-filter':
                      filterForm?.value &&
                      (filterForm.value.fromDate ||
                        filterForm.value.toDate ||
                        filterForm.value.postalCode ||
                        filterForm.value.impressionType)
                  }">
                  <i class="fa-solid fa-circle acrive_circle"></i>
                  <i class="fa-sharp fa-solid fa-filter"></i>
                </span>
                <span class="cn_btn icn_btn" (click)="refresh()">
                  <i class="fa-duotone fa-solid fa-rotate-right" *ngIf="!spinnerLoader"></i>
                  <i class="fa-solid fa-rotate fa-spin" *ngIf="spinnerLoader"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="filter_box" [ngClass]="{ 'd-none': !showAdvancedFilter }" *ngIf="isAdvancedFilterVisible()">
          <div class="form_box">
            <p class="txt_2 fw_6 mb-3" [ngClass]="{ 'd-none': showAdvancedFilter }">Advanced Filter</p>
            <div class="row">
              <!-- <div class="col-md-3">
                <mat-form-field  [ngClass]="{'highlighted': filterForm.get('position')?.value}">
                  <mat-label>Profile Rank </mat-label>
                  <mat-select formControlName="position">
                    <ng-container *ngFor="let position of uniquePositions">
                      <mat-option [value]="position">{{position}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                </div> -->
              <!-- <div class="col-md-3">
                  <mat-form-field
                    [ngClass]="{
                      highlighted: filterForm.get('position')?.value
                    }"
                  >
                    <mat-label>Profile Rank</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Enter Profile Rank"
                      formControlName="position"
                    />
                  </mat-form-field>
                </div> -->
              <div class="col-md-3">
                <mat-form-field class="date_range_filter" [ngClass]="{
                    highlighted:
                      filterForm.get('fromDate')?.value ||
                      filterForm.get('toDate')?.value
                  }">
                  <mat-label>Enter a Accessed Date Range</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" formControlName="fromDate" />
                    <input matEndDate placeholder="End date" formControlName="toDate" />
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field [ngClass]="{
                    highlighted: filterForm.get('postalCode')?.value
                  }">
                  <mat-label>Postal Code</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Enter Postal Code"
                    formControlName="postalCode"
                    (input)="onPostalCodeInput($event)"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field [ngClass]="{
                    highlighted: filterForm.get('impressionType')?.value
                  }">
                  <mat-label>Page Source</mat-label>
                  <mat-select formControlName="impressionType">
                    <mat-option value="broker-list">broker-list</mat-option>
                    <mat-option value="broker-detail">broker-detail</mat-option>
                    <mat-option value="broker-insurance-history">broker-insurance-history</mat-option>
                    <mat-option value="broker-authority-history">broker-authority-history</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <div class="fltr_actn">
                  <button class="cn_btn btn_bordered" (click)="resetFilters()">
                    Clear
                  </button>
                  <button class="cn_btn" (click)="applyAdvancedFilter()">
                    Apply
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="table_data" #scrollContainer tabindex="0">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="companyName" sticky>
          <th mat-header-cell *matHeaderCellDef>
            <div class="sticky_boder">User</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="user_dtl sticky_boder">
              <div class="ud_l">
                <div class="user_img_container">
                  <div class="ud_l">
                    <img *ngIf="element.broker?.profileImage" [src]="element.broker.profileImage" class="user_img"
                      alt="User profile image" width="50px" height="50px" />
                    <i *ngIf="!element.broker?.profileImage" class="fa-duotone fa-solid fa-circle-user user_icon"
                      aria-hidden="true"></i>
                    <span class="user_Type">Carrier</span>
                  </div>
                </div>
              </div>

              <div class="ud_r">
                <div class="name_icn" *ngIf="element.broker?.companyName">
                  <a [href]="'/freight-brokerage/' + element.broker?.dotNumber + '/' + formatCompanyName(element.broker?.companyName)" class="u_name" target="_blank">{{ element.broker?.companyName }}</a> 
                  <i
                    class="fa-duotone fa-badge-check verify_icon"
                    [matTooltip]="element.broker?.userId ? 'Account Verified' : 'Account not Verified'"
                    [ngClass]="{'txt_p': element.broker?.userId, 'txt_lb': !element.broker?.userId}"
                  ></i>
                </div>
                <div class="loca_rtng">
                  <span *ngIf="element.broker?.companyName" class="user_rtng" matTooltip="{{ element?.broker?.averageRatingValue }} rating"
                    >{{ element.broker?.averageRatingValue.toFixed(1) || 0 }}
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span class="u_loca">
                    {{
                      (element.broker?.phyCity || element.broker?.phyStateCode)
                        ? ((element.broker?.phyCity ? (element.broker.phyCity | titlecase) + ", " : "") + 
                           (element.broker?.phyStateCode ? (element.broker.phyStateCode | titlecase) + ", " : "")).slice(0, -2)
                        : (element.title || '')
                    }}
                  </span>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="pageSource">
          <th mat-header-cell *matHeaderCellDef>Page Source</th>
          <td mat-cell *matCellDef="let element" class="onhover_show_icon">
            <a *ngIf="element.url" [href]="element.url" target="_blank" class="txt_p">
              <span class="impression-type">{{ element.impressionType }}</span>
              <i class="fa-regular fa-arrow-up-right-from-square"></i>
            </a>
            <span *ngIf="!element.url">{{ element.impressionType }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="profileRank">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            Profile Rank
          </th>
          <td mat-cell *matCellDef="let element" class="text-center" matTooltip="Profile Rank on pge">
            {{ element.position }}
          </td>
        </ng-container>
        <ng-container matColumnDef="accessedAt">
          <th mat-header-cell *matHeaderCellDef>Accessed At</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.createdAt | date: 'MMM dd, yyyy hh:mm a' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="timeSinceAccess">
          <th mat-header-cell *matHeaderCellDef class="time_since">
            Time Since Access
          </th>
          <td mat-cell *matCellDef="let element">
            <!-- {{ calculateTimeSince(element.createdAt) }} -->
            {{ element.createdAt | timeAgo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="rowAction">
          <th mat-header-cell *matHeaderCellDef class="time_since">Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="row_actn">
              <span class="cn_btn phone_btn btnActive" matTooltip="Contact Us">
                <i class="fa-sharp-duotone fa-regular fa-phone"></i>
              </span>
              <span class="cn_btn comnt_btn btnActive" matTooltip="Write a Review">
                <i class="fa-duotone fa-regular fa-comment-pen"></i>
              </span>
              <span class="cn_btn eye_btn btnActive" matTooltip="View User Detail">
                <i class="fa-duotone fa-solid fa-eye"></i>
              </span>
              <span class="cn_btn bokmrk_btn" matTooltip="Save to List">
                <i class="fa-duotone fa-solid fa-bookmark"></i>
              </span>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <ng-container >
          <tr class="mat-row" *matNoDataRow style="text-align: center">
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              <div class="empty-state" *ngIf="!spinnerLoader">
                <div class="empty-state__content">
              <div class="empty-state__icon">
                <img src="./assets/images/no_data_found_img.jpg" alt="">
              </div>
              <div class="empty-state__message">List Empty</div>
                <p class="empty-state__help">This is no Records</p>
              </div>
              </div>
            </td> </tr>
          </ng-container>
      </table>
    
      <!-- 🔄 Loader for infinite scroll -->
      <div class="text-center spinner_loader" *ngIf="spinnerLoader">
        <span class="spinner-border" role="status"></span>
      </div>
    </div>
  </div>

</div>
