.tgle_tlt { margin: 0 0 6px; font-size: 0.9rem; font-weight: 500; }

.cn_radio_btn { display: block; }
.cn_radio_btn .mat-radio-button { color: #818181; margin: 0 1.2rem 0.2rem 0; }

.cn_mlti_selct .mat-accent { color: #818181; margin: 4px 22px 0 4px; }
.cus_slide_toggle .col-md-3 { margin: 0.3rem 0 0.8rem; }

