<span class="rtng_stars">
  <div class="star-rating">
    <div class="back-stars">
      <span class="material-icons">star</span>
      <span class="material-icons">star</span>
      <span class="material-icons">star</span>
      <span class="material-icons">star</span>
      <span class="material-icons">star</span>
      <div class="front-stars" [style.width]="totalValue"> 
        <span class="material-icons">star</span>
        <span class="material-icons">star</span>
        <span class="material-icons">star</span>
        <span class="material-icons">star</span>
        <span class="material-icons">star</span>
      </div>
    </div>
  </div>
</span>