.cn_radio_btn { margin: 0 0 22px; display: block; }
.cn_radio_btn .mat-radio-button { font-size: 16px; line-height: 22px; font-weight: 400; color: #818181; margin-right: 18px; }
.country_code_dropdown mat-form-field:first-child { width: 192px; }
.country_code_dropdown mat-form-field:last-child { width: calc(100% - 192px); }
.cn_mlti_selct { margin: 0 0 22px; }
.cn_mlti_selct .mat-accent { display: inline-block; width: 25%; font-size: 16px; line-height: 22px; font-weight: 400; color: #818181; margin: 4px 0 4px; }
.form_action { text-align: right; }

@media screen and (max-width: 760px) {
    .cn_mlti_selct { display: flex; flex-direction: column; }
}