<div class="container-fluid mt-4">
  <div class="spa-slide business_info_dtl_tab clearfix">
    <!-- <h2 class="pdt_tlt">Business Information</h2> -->
    <div class="pdt_points_sngl">
      <div class="row row-gap-4">
        <div class="col-md-4">
          <p class="sngl_pont">
            <span class="detail_title">Target Job Market:</span>
            <span class="detail_value">Long Term Contractual</span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="sngl_pont">
            <span class="detail_title">Availability:</span>
            <span class="detail_value looking_load"><svg style="fill: #0A66C2; width: 20px; height: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M21 8.83 12 3 3 8.83V20a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1zM12 5.16l6.67 4.17L12 13.5 5.33 9.33zM5 11.65l6 3.75v4.85H5zm8 8.6v-4.85l6-3.75v8.6z"/>
          </svg> Looking for new Load</span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="sngl_pont">
            <span class="detail_title">Number Of Trucks:</span>
            <span class="detail_value"> 1 <i class="fa-regular fa-truck"></i></span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="sngl_pont">
            <span class="detail_title">Number Of Drivers:</span>
            <span class="detail_value d-inline-flex">2 <svg style=" width: 14px; height: 20px; margin-left: 8px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M12 12a5 5 0 1 0-5-5 5 5 0 0 0 5 5zm0 2c-3.33 0-10 1.67-10 5v3h20v-3c0-3.33-6.67-5-10-5z"/>
          </svg></span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="sngl_pont">
            <span class="detail_title">Hazardous Materials:</span>
            <span class="detail_value">No</span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="sngl_pont">
            <span class="detail_title">Passenger Carrier:</span>
            <span class="detail_value">No</span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="sngl_pont">
            <span class="detail_title">MCS-150 Date:</span>
            <span class="detail_value">11 Aug, 2015</span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="sngl_pont">
            <span class="detail_title">MCS-150 Mileage</span>
            <span class="detail_value">-</span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="sngl_pont">
            <span class="detail_title">Shipment types:</span>
            <span class="detail_value">Full Truckload <span class="flt_status">(FTL)</span>
            </span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="sngl_pont mt-2">
            <span class="detail_title">Use Electronic Tracking:</span>
            <span class="detail_value">No</span>

          </p>
        </div>
      </div>
    </div>
    <div class="pdt_points_multi mt-3">
      <div class="row row-gap-4">
        <div class="col-md-4">
          <div class="multi_pont">
            <p class="detail_title"> Fuel consumption Types:</p>
            <div class="detail_value">
              <ul class="items">
                <li class="item">Gasoline</li>
                <li class="item">Diesel</li>
                <li class="item">Off-Road Diesel</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="multi_pont">
            <p class="detail_title">Cargo Types / Freight Types / Commodities:</p>
            <div class="detail_value">
              <ul class="items">
                <li class="item">Construction</li>
                <li class="item">Diesel</li>
                <li class="item">Off-Road Diesel</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="multi_pont">
            <p class="detail_title">Truck Types / Equipment Types:</p>
            <div class="detail_value">
              <ul class="items">
                <li class="item">Cargo Van</li>
                <li class="item">Car Hauler</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <p class="detail_title">Operating status:</p>
          <div class="detail_value">
            <ul class="items">
              <li class="item">Cargo Van</li>
              <li class="item">Car Hauler</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>