<div class="insurance_pg_con">
    
    <div class="card_con" >
        <div class="uploadEmptyTxt">
            <p class="edt_pg_tlt mb-2">Pending Review Invitation<span *ngIf="totalRecords > 1">s</span> ({{totalRecords ? totalRecords:0}})</p>
            <div class="insu_uplod_box">
                <div class="iub_l">
                    <p class="fs_14 fsn_4 txt_lb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
                        perspiciatis cupiditate fugiat corporis vitae, omnis aut quos, nesciunt tenetur itaque
                        eligendi.
                        Aut architecto recusandae doloribus dicta laboriosam eum, consequatur perspiciatis?</p>
                </div>
                <div class="iub_r">
                </div>
            </div>
        </div>
        <div class="" *ngIf="!skeletonLoader && pendingreviewInvitationList">
            <div class="inc_data_updt"
                *ngFor="let pendingreviewInvitationData of pendingreviewInvitationList;let i=index">
                <div class="inc_head">
                    <div class="inc_head_l">
                        <div class="">
                            <span class="compny_nm">{{pendingreviewInvitationData?.fullName ?
                                pendingreviewInvitationData?.fullName : '-'}}</span>
                        </div>
                        <div class="inc_cntr">
                            <div class="inc_row phone_no txt_p">

                                <i class="fa-duotone fa-envelope me-2"></i> <span>{{pendingreviewInvitationData?.email}}</span>
                            </div>
                        </div>
                        <div class="inc_fotr">
                            <div class="rev_invitation_box">
                                <div class="inc_date_box inc_fotr_l">
                                    <div class="inc_date">
                                        <i class="fa-duotone fa-calendar-week txt_p me-2"></i>
                                        <span>
                                            <span class="txt_lb">Invitation Date</span>
                                            {{pendingreviewInvitationData?.invitationDate | date: 'MMM dd, yyyy'}}

                                        </span>
                                    </div>
                                    <div class="inc_date" *ngIf="pendingreviewInvitationData?.reInvitationDate">
                                        <i class="fa-duotone fa-calendar-week txt_p me-2"></i>
                                        <span>
                                            <span class="txt_lb">Re-invite Date</span>
                                            {{pendingreviewInvitationData?.reInvitationDate | date: 'MMM dd, yyyy,'}}
                                        </span>
                                    </div>

                                </div>
                               
                            </div>

                            <div class="rmb_mess">
                                <!-- <span class="quote_sign qs_start">❞</span> -->
                                <div class="quote_mess">
                                    <span class="quote_dis"><i class="fa-solid fa-message-lines me-2 txt_p"></i>{{pendingreviewInvitationData?.invitationMessage}}</span>
                                    <!-- <span class="quote_sign qs_end">❠</span> -->
                                </div>
                                <div class="inc_fotr_r">
                                    <div class="ed_del_buttons">
                                        <button class="ed_edit_btn" (click)="viewPendingreviewInvitation(pendingreviewInvitationData,'viewPendingreviewInvitation')" matTooltip="view">
                                            <!-- (click)="editInsurence(pendingreviewInvitationData,'editInsurence')"  -->
                                            <!-- <span class="material-icons-outlined c_green" matTooltip="{{information?.view}}" >visibility</span> -->
                                            <!-- <i class="fa-duotone fa-paper-plane-top"></i> -->
                                            <i class="fa-duotone fa-eye"></i>

                                        </button>
                                        <button class="ed_edit_btn resend_btn" (click)="resentPendingReviewInvitation(pendingreviewInvitationData?.id)" matTooltip="Resend">
                                            <!-- <span class="material-icons-outlined c_red" matTooltip="{{information?.resend}}">send</span> -->
                                            <i class="fa-duotone fa-paper-plane-top"></i>
                                        </button>
                                        <button class="ed_edit_btn withdraw_btn"
                                            (click)="WithdrawalPendingReviewInvitation(pendingreviewInvitationData?.id,'withdrawalPendingReviewInvitation',i)"
                                            matTooltip="withdraw Invitation">
                                            <!-- <span class="material-icons-outlined c_red" matTooltip="{{information?.Withdrawal}}">delete</span>
                                              -->
                                              <!-- <i class="fa-duotone fa-trash"></i> -->
                                              <i class="fa-duotone fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="empty-state" *ngIf="pendingreviewInvitationList?.length ==0 && !skeletonLoader">

                <div class="empty-state__content">
                    <div class="empty-state__icon">
                        <img src="https://img.freepik.com/free-vector/upload-concept-illustration_114360-1343.jpg?size=626&ext=jpg"
                            alt="">
                    </div>
                    <div class="empty-state__message">Pending Review Invitation</div>
                    <p class="empty-state__help">No Pending Review Invitation</p>
                </div>
            </div>


        </div>
        <div class="saved_carrier_list_con" class="skt_eifr" *ngIf="skeletonLoader">
            <div class="mb-3">
                <ngx-skeleton-loader count="1"
                    [theme]="{ width: '100%', height: '24px', margin: '0px 0 0px' }"></ngx-skeleton-loader>
            </div>
            <div class="scl_row pt-3 px-3" *ngFor="let fake of generateFakeSkeleton(5)" style="display: block;">
                <ngx-skeleton-loader count="1"
                    [theme]="{ width: '100%', height: '32px', margin: '0px 0 0px' }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>

    <div class="text-center" *ngIf="pendingreviewInvitationList?.length > 0 && spinnerLoader">
        <span class="spinner-border" role="status" style="color: #00b4fc;"></span>
    </div>
    <!--  -->
    <div *ngIf="pendingreviewInvitationList?.length > 0 && dataNotFound && !skeletonLoader" class="noMore_record">
        <span>There are no more records to show.</span>
    </div>
    <!--  -->
    


</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>