<div class="insurance_pg_con">
  <div class="content_box">
    <div class="contnt_hed">
      <div class="ch_l">
        <h3 class="ch_tlt">Calculator for Cost Per Mile</h3>
      </div>
      <!-- <div class="ch_rl">
        <button [routerLink]="'/calculator/cost-per-miles'" class="cn_btn">Add Calculator</button>
      </div> -->
    </div>
    <div class="content_body">
      <p class="ch_dis">Trucking companies usually have so many expenses which makes complex the analysis of profit or loss. Calculator makes it easy to fetch the rate per mile and based on this calculation owner can estimate his bid/price on that trip.<br>
        Here You will get the list of calculator (pre-filled) which will you rate per mile along with rate per trip and various other analytical features like Bar chart and Pie chart which will help you to find best price and plan for you business.</p>
    </div>
  </div>

  <div class="content_box" style="display: none;">
    <div class="content_body">
      <div class="table_data_con">
        <div class="table_actions">
          <form class="cn_field">
            <div class="btns_box">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <p class="txt_1 fw_6" [ngClass]="{'d-none': !showAdvancedFilter}">Advanced Filter</p>
                  <div class="comn_fltr" [ngClass]="{'d-none': showAdvancedFilter}">
                    <mat-form-field appearance="none">
                      <mat-label>Table Search</mat-label>
                      <mat-icon matTextPrefix class="material-symbols-outlined">filter_list</mat-icon>
                      <input type="text" matInput placeholder="Search" class="form-control cn_input ms-2">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="btn_r">
                    <a class="cn_btn txt_btn" [routerLink]="'/calculator/cost-per-miles'">
                      <!-- <i class="fa-solid fa-plus me-2"></i> -->
                      <span>Add Calculator</span>
                    </a>
                    <span class="cn_btn icn_btn adv_filter_btn" (click)="toggleFilter()">
                      <i class="fa-sharp fa-solid fa-filter"></i>
                    </span>
                    <span class="cn_btn icn_btn">
                      <i class="fa-duotone fa-solid fa-rotate-right"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="filter_box" [ngClass]="{'d-none': !showAdvancedFilter}">
                <div class="filtr_con">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>DOT Number</mat-label>
                          <input type="text" matInput placeholder="DOT Number">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field>
                          <mat-label>Status</mat-label>
                          <mat-select>
                            <mat-option value="carrier">Active</mat-option>
                            <mat-option value="Expired">Expired</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-3">
                        <mat-form-field class="date_range_filter">
                          <mat-label>Created</mat-label>
                          <mat-date-range-input [rangePicker]="picker1">
                            <input matStartDate placeholder="Start date">
                            <input matEndDate placeholder="End date">
                          </mat-date-range-input>
                          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-date-range-picker #picker1></mat-date-range-picker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="date_range_filter">
                          <mat-label>Last Email Send At</mat-label>
                          <mat-date-range-input [rangePicker]="picker2">
                            <input matStartDate placeholder="Start date">
                            <input matEndDate placeholder="End date">
                          </mat-date-range-input>
                          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-date-range-picker #picker2></mat-date-range-picker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="date_range_filter">
                          <mat-label>Updated</mat-label>
                          <mat-date-range-input [rangePicker]="picker3">
                            <input matStartDate placeholder="Start date">
                            <input matEndDate placeholder="End date">
                          </mat-date-range-input>
                          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-date-range-picker #picker3></mat-date-range-picker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="date_range_filter">
                          <mat-label>Expire</mat-label>
                          <mat-date-range-input [rangePicker]="picker4">
                            <input matStartDate placeholder="Start date">
                            <input matEndDate placeholder="End date">
                          </mat-date-range-input>
                          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                          <mat-date-range-picker #picker4></mat-date-range-picker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <div class="fltr_actn">
                          <button class="cn_btn btn_bordered">Clear</button>
                          <button class="cn_btn">Apply</button>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </form> 
        </div>
        <div class="table_data" tabindex="0">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name" sticky>
              <th mat-header-cell *matHeaderCellDef>
                <div class="sticky_boder">
                  Name
                </div>
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="first_col sticky_boder">
                  {{element.name}}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="revenue">
              <th mat-header-cell *matHeaderCellDef> Revenue </th>
              <td mat-cell *matCellDef="let element">{{element.revenue}}</td>
            </ng-container>
            <ng-container matColumnDef="totalMiles">
              <th mat-header-cell *matHeaderCellDef> Total Miles </th>
              <td mat-cell *matCellDef="let element">{{element.totalMiles}}</td>
            </ng-container>
            <ng-container matColumnDef="totalDays">
              <th mat-header-cell *matHeaderCellDef> Total Days </th>
              <td mat-cell *matCellDef="let element">{{element.totalDays}}</td>
            </ng-container>
            <ng-container matColumnDef="truckAverage">
              <th mat-header-cell *matHeaderCellDef> Truck Average </th>
              <td mat-cell *matCellDef="let element" matTooltip="">{{element.truckAverage}}</td>
            </ng-container>
            <ng-container matColumnDef="companyOfficeExpenses">
              <th mat-header-cell *matHeaderCellDef class="expenses_mw"> Company & Office expenses </th>
              <td mat-cell *matCellDef="let element">{{element.companyOfficeExpenses}}</td>
            </ng-container>
            <ng-container matColumnDef="truckExpenses">
              <th mat-header-cell *matHeaderCellDef class="expenses_mw"> Truck Expenses </th>
              <td mat-cell *matCellDef="let element">{{element.truckExpenses}}</td>
            </ng-container>
            <ng-container matColumnDef="trailerExpenses">
              <th mat-header-cell *matHeaderCellDef class="expenses_mw"> Trailer Expenses </th>
              <td mat-cell *matCellDef="let element">{{element.trailerExpenses}}</td>
            </ng-container>
            <ng-container matColumnDef="driveExpenses">
              <th mat-header-cell *matHeaderCellDef class="expenses_mw"> Drive Expenses </th>
              <td mat-cell *matCellDef="let element">{{element.driveExpenses}}</td>
            </ng-container>
            <ng-container matColumnDef="onRoadExpenses">
              <th mat-header-cell *matHeaderCellDef class="expenses_mw"> On Road Expenses </th>
              <td mat-cell *matCellDef="let element">{{element.onRoadExpenses}}</td>
            </ng-container>
            <ng-container matColumnDef="miscellaneousAndOther">
              <th mat-header-cell *matHeaderCellDef class="expenses_mw"> Miscellaneous and Other </th>
              <td mat-cell *matCellDef="let element">{{element.miscellaneousAndOther}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="text-center actin_col"> Action </th>
              <td mat-cell *matCellDef="let element" class="actin_td table_actions">
                <button class="cn_btn">Edit</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
      <!-- <div class="skeletonloader">
        <div class="empty-state">
          <div class="empty-state__content">
          <div class="empty-state__icon">
            <img src="./assets/images/no_data_found_img.jpg" alt="">
          </div>
          <div class="empty-state__message">Authority List</div>
            <p class="empty-state__help">This is no Authority</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="data_box  mt-4" *ngIf="calculatorData?.length">
    <div class="inc_data_updt mb-5" *ngFor="let item of calculatorData">
      <div class="inc_head">
        <div class="inc_head_l">
          <div class="">
            <span class="compny_nm">{{item.expenses.calculatorName}}</span>
          </div>
        </div>
      </div>
      <div class="inc_cntr">


        <table>
          <tr>
            <th>Revenue: <i class="fa-solid fa-chart-simple" ></i></th>
            <th>Total Miles: <i class="fa-solid fa-tornado"></i></th>
            <th>Total Days: <i class="fa-regular fa-calendar-clock"></i></th>
            <th>Truck Average: <i class="fa-duotone fa-truck-fast"></i></th>

          </tr>
          <tr>
            <td>{{item?.revenueUsd}}</td>
            <td>{{item?.miles}}</td>
            <td>{{item?.days}}</td>
            <td>{{item?.truckMileage}}</td>

          </tr>
          <button class="ed_edit_btn" matTooltip="Edit">
            <span class="material-icons-outlined c_green" (click)="navigateToEditPage(item.id)">edit</span>
          </button>
        </table>
        <table>
          <tr>
            <th>Company & Office expenses:<i class="fa-duotone fa-wallet"></i></th>
            <th>Truck Expenses:<i class="fa-duotone fa-wallet"></i></th>
            <th>Trailer Expenses:<i class="fa-duotone fa-wallet"></i></th>
            <th>Drive Expenses:<i class="fa-duotone fa-wallet"></i></th>
            <th>On Road Expenses:<i class="fa-duotone fa-wallet"></i></th>
            <th>Miscellaneous and Other:<i class="fa-duotone fa-wallet"></i></th>

          </tr>
          <tr>
            <td>{{item?.expenses.total.companyOfficeTotal| currency:'USD':'symbol':'1.2-2'}}</td>
            <td>{{item?.expenses.total.truckExpensesTotal| currency:'USD':'symbol':'1.2-2'}}</td>
            <td>{{item?.expenses.total.trailerExpensesTotal| currency:'USD':'symbol':'1.2-2'}}</td>
            <td>{{item?.expenses.total.driverExpensesTotal| currency:'USD':'symbol':'1.2-2'}}</td>
            <td>{{item?.expenses.total.onRoadExpensesTotal| currency:'USD':'symbol':'1.2-2'}}</td>
            <td>{{item?.expenses.total.miscellaneousTotal| currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <button class="ed_edit_btn" matTooltip="Edit">
            <span class="material-icons-outlined c_green" (click)="navigateToEditPage(item.id)">edit</span>
          </button>
        </table>
        <div class="inc_fotr_r">
          <span *ngIf="compareIdArray.length==1 && compareIdArray[0]==item.id" style="margin-right: 10px;">select one more to compare </span><button
            *ngIf="compareIdArray.length>1 && compareIdArray.includes(item.id)" (click)="navigateToCompare()" class="com_edt" style="margin-right: 10px;">Compare</button> <input
            type="checkbox" (change)="addCompareId(item.id, $event)">
          <div class="ed_del_buttons">
            <button class="ed_dtl_btn" matTooltip="Delete" (click)="deletePopup(item.id)">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
       
      </div>

      <div class="empty-state" *ngIf="false">
        <div class="empty-state__content">
          <div class="empty-state__icon">
            <img src="https://img.freepik.com/free-vector/upload-concept-illustration_114360-1343.jpg?size=626&ext=jpg"
              alt="">
          </div>
          <div class="empty-state__message">Calculator per Mile</div>
          <p class="empty-state__help">This is no Calculator Per Mile</p>
        </div>
      </div>
    </div>
  </div>
  <div class="data_box  mt-4 emptyBox" *ngIf="calculatorData?.length == 0 && !skeletonLoader">
        <p style="padding-top: 20px;">There is no saved calculator yet !</p>
  </div>

  <div class="saved_carrier_list_con" class="skt_eifr" *ngIf="skeletonLoader">
    <div class="mb-3">
        <ngx-skeleton-loader count="1"
            [theme]="{ width: '100%', height: '24px', margin: '0px 0 0px' }"></ngx-skeleton-loader>
    </div>
    <div class="scl_row pt-3 px-3" *ngFor="let fake of generateFakeSkeleton(5)" style="display: block;">
        <ngx-skeleton-loader count="1"
            [theme]="{ width: '100%', height: '32px', margin: '0px 0 0px' }"></ngx-skeleton-loader>
    </div>
</div>

<div class="text-center" *ngIf="calculatorData?.length > 0 && spinnerLoader">
  <span class="spinner-border" role="status" style="color: #00b4fc;"></span>
</div>
<!--  -->
<div *ngIf="calculatorData?.length > 0 && dataNotFound && !skeletonLoader && !spinnerLoader" class="noMore_record">
  <span>There are no more records to show.</span>
</div>

</div>