.filtr_con { padding-top: 1rem; margin-top: 1rem; border-top: 1px solid #ededed; }
.comn_fltr { display: flex; height: 100%; align-items: center; }

.contnt_hed { margin: 0 0 0rem; }
.ch_dis { margin: 0 0 0rem; }


.hint_mess { position: relative; }
.hint_mess p { position: absolute; z-index: 4; top: -22px; left: 1rem; }

.table_data_con {
  .table_data { margin: 0 0 0rem; }
  .btns_box { margin: 0 0 1.3rem; }
  .first_col { display: flex; align-items: center; padding: 0.7rem 1.1rem 0.7rem 0; max-width: 290px; white-space: normal; }
  .expenses_mw { min-width: 165px; max-width: 240px; white-space: normal; padding: 0rem 1rem; }
}

.noMore_record { text-align: center; margin: 0; padding: 1rem; background: #fff; }

mat-slider {
  width: 300px;
}
