<div class="content_box">
    <div class="contnt_hed mb-1">
      <div class="ch_l">
        <h3 class="ch_tlt">Carrier Alert</h3>
      </div>
      <div class="ch_rl"></div>
    </div>
  
  <div class="content_body">
    <p class="content_dis mb-4"> 
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat ratione labore impedit, natus tempore enim magni ut, nulla incidunt vel quo minus officiis provident, libero eius aliquid tenetur deserunt. Distinctio placeat ratione labore impedit, natus tempore enim magni ut, nulla incidunt vel quo minus officiis provident, libero eius aliquid tenetur deserunt.
    </p>
    <div class="table_data_con">
      <div class="table_actions">
        <form class="cn_field">
          <div class="btns_box">
            <div class="row align-items-center">
              <div class="col-md-5">
                <p class="txt_1 fw_6" [ngClass]="{'d-none': !showAdvancedFilter}">Advanced Filter</p>
                <div class="comn_fltr" [ngClass]="{'d-none': showAdvancedFilter}">
                  <mat-form-field appearance="none">
                    <mat-label>Table Search</mat-label>
                    <mat-icon matTextPrefix class="material-symbols-outlined">filter_list</mat-icon>
                    <input type="text" matInput placeholder="Search" class="form-control cn_input ms-2">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-7">
                <div class="btn_r">
                  <a class="cn_btn txt_btn" [routerLink]="['add']">
                    <!-- <i class="fa-solid fa-plus me-2"></i> -->
                    <span>Add Member</span>
                  </a>
                  <span class="cn_btn icn_btn adv_filter_btn" (click)="toggleFilter()">
                    <i class="fa-sharp fa-solid fa-filter"></i>
                  </span>
                  <span class="cn_btn icn_btn">
                    <i class="fa-duotone fa-solid fa-rotate-right"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="filter_box" [ngClass]="{'d-none': !showAdvancedFilter}">
              <div class="filtr_con">
                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field>
                        <mat-label>DOT Number</mat-label>
                        <input type="text" matInput placeholder="DOT Number">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field>
                        <mat-label>Status</mat-label>
                        <mat-select>
                          <mat-option value="carrier">Active</mat-option>
                          <mat-option value="Expired">Expired</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                      <mat-form-field class="date_range_filter">
                        <mat-label>Created</mat-label>
                        <mat-date-range-input [rangePicker]="picker1">
                          <input matStartDate placeholder="Start date">
                          <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker1></mat-date-range-picker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="date_range_filter">
                        <mat-label>Last Email Send At</mat-label>
                        <mat-date-range-input [rangePicker]="picker2">
                          <input matStartDate placeholder="Start date">
                          <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker2></mat-date-range-picker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="date_range_filter">
                        <mat-label>Updated</mat-label>
                        <mat-date-range-input [rangePicker]="picker3">
                          <input matStartDate placeholder="Start date">
                          <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker3></mat-date-range-picker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="date_range_filter">
                        <mat-label>Expire</mat-label>
                        <mat-date-range-input [rangePicker]="picker4">
                          <input matStartDate placeholder="Start date">
                          <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker4></mat-date-range-picker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <div class="fltr_actn">
                        <button class="cn_btn btn_bordered">Clear</button>
                        <button class="cn_btn">Apply</button>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </form> 
      </div>
      <div class="table_data" tabindex="0">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="alertID">
            <th mat-header-cell *matHeaderCellDef> Alert ID </th>
            <td mat-cell *matCellDef="let element">{{element.alertID}}</td>
          </ng-container>
          <ng-container matColumnDef="dotNumber">
            <th mat-header-cell *matHeaderCellDef> Dot Number </th>
            <td mat-cell *matCellDef="let element">{{element.dotNumber}}</td>
          </ng-container>
          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef> Company Name </th>
            <td mat-cell *matCellDef="let element" class="fw_5" matTooltip="{{element.companyName}}">
              <a class="company_name">{{element.companyName}}</a>
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element" class="{{element.status}} fw_5">{{element.status}}</td>
          </ng-container>
          <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef> Created On </th>
            <td mat-cell *matCellDef="let element" matTooltip="1 months 1 days ago">{{element.createdOn}}</td>
          </ng-container>
          <ng-container matColumnDef="lastEmailsendAt">
            <th mat-header-cell *matHeaderCellDef> Last Email Send At </th>
            <td mat-cell *matCellDef="let element" matTooltip="2 days ago">{{element.lastEmailsendAt}}</td>
          </ng-container>
          <ng-container matColumnDef="lastUpdated">
            <th mat-header-cell *matHeaderCellDef> Last Updated </th>
            <td mat-cell *matCellDef="let element" matTooltip="1 months 1 days ago">{{element.lastUpdated}}</td>
          </ng-container>
          <ng-container matColumnDef="emailExpiryDate">
            <th mat-header-cell *matHeaderCellDef> Email ExpiryDate </th>
            <td mat-cell *matCellDef="let element" matTooltip="2 days ago">{{element.emailExpiryDate}}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-center actin_col"> Action </th>
            <td mat-cell *matCellDef="let element" class="actin_td table_actions">
              <div class="actin_icon cus_slide_toggle">
                <mat-slide-toggle [(ngModel)]="isChecked">{{element.action_vlu}}</mat-slide-toggle>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  
  <div class="skeletonloader">
    <div class="empty-state">
      <div class="empty-state__content">
      <div class="empty-state__icon">
        <img src="./assets/images/no_data_found_img.jpg" alt="">
      </div>
      <div class="empty-state__message">Carrier List</div>
        <p class="empty-state__help">This is no Carrier</p>
      </div>
    </div>
  </div>