<div class="take_rating_review_box">
	<div *ngIf="!skeletonLoader">
		<div class="lable_field">
			<h4 class="page_heading">Write a Review</h4>
			<p class="lable_vlu mt-5">Welcome to the Write a Review feature. Here, you can share your feedback and experiences about carriers. Use the search option to find the carriers you want to review. Simply type in the carrier's dot number, name and docket. Once you've found the carriers, proceed to write and submit your review. Your feedback helps others make informed decisions. Thank you for contributing to our community!</p>
		</div>
		<div class="cn_field">
			<div class="write_review_con">
				<div class="wrc_box">
					<p class="cn_input_lbl">Search Carriers and Brokers for Reviews</p>
					<div class="d-flex align-items-center">
					<mat-form-field appearance="none" class="cn_inpt_drop">
						<div class="country_code_fld">
						  <mat-select [(value)]="selectedValue"  (selectionChange)="selectPickCountryCode($event.value)" 
									  class="form-control cn_input" >
							<mat-option value="Carrier">Carrier</mat-option>
							<mat-option value="Broker">Brokerage</mat-option>
						  </mat-select>
						</div>
					  </mat-form-field>
					  
					  <mat-form-field class="cn_pfix_icnQW" appearance="none">						
						<div style="display: flex;">
						  <input type="text" (keyup)="searchUserType($event)" placeholder="Search Carriers by Company Name & USDOT #" aria-label="Test" matInput  class="form-control cn_input" >
							<small this.errorMessage style="position: absolute;
								 bottom: -21px; 	left: 0; 	color: red;">{{errorMessage}}</small>
						  <div class="loard_box" *ngIf="loaderSearch">
								<span class="custom_spinner spinner-border">
								  <span class="visually-hidden">Loading...</span>
								</span>
							</div>
						</div>
					</mat-form-field>
				</div>
				</div>
			</div>
		</div>

			<div class="carrier_sch_list_con">
				<div class="cslc_box">
					<p class="srch_rslt_conts" *ngIf="reviewData?.length > 0">Search Results: <span class="fw_5"> {{totalItems ? totalItems : '0'}}</span></p>
					<div class="cslc_crd" *ngFor="let carrierData of reviewData">
						<div class="cslc_crd_l pointer" (click)="redirectPageCity(carrierData,carrierData?.dotNumber)">
							<div class="cslc_crd_ll">
								<div class="cslc_bl_img" *ngIf="carrierData?.profileImage">
									<img src="{{carrierData?.profileImage}}" class="img-fluid">
								</div>
								<div class="cslc_bl_initail" *ngIf="!carrierData?.profileImage">
									<span class="initail">{{carrierData?.companyName | acronymOfName}} </span>
								</div>
							</div>
							<div class="cslc_crd_lr">
								<div class="cslc_nm">
									<span class="txt_ellipsis" matTooltip="{{carrierData.companyName | titleCase | convertEnd}}">{{carrierData.companyName | titleCase | convertEnd}} </span>
								</div>
								<div class="cslc_locatn">
									<span *ngIf="carrierData?.phyCity || carrierData?.phyStateCode">{{getFormattedAddress(carrierData?.phyCity,carrierData?.phyStateCode,carrierData?.phyZip)}}</span>
									<span *ngIf="!carrierData?.phyCity && !carrierData?.phyStateCode">-</span>
								</div>
								<div class="cslc_dot_active">
									<p class="cslc_dot">
										<b>DOT #: </b>
										<span>{{carrierData.dotNumber ? carrierData.dotNumber : '-'}}</span>
									</p>
									<span class="cslc_sapration"> | </span>
									<p class="cslc_dot">
										<b>Docket: </b>
										<span>{{carrierData.dunsNumber ? carrierData.dunsNumber : '-'}}</span>
									</p>
									<span class="cslc_sapration"> | </span>
									<p class="cslc_dot">
										<b>Fleet Size: </b>
										<span>{{carrierData.trucksNumbers ? carrierData.trucksNumbers : '-'}}</span>
									</p>
								</div>
							</div>
						</div>
						<div class="cslc_crd_r">
							<div class="cslc_reviw">
								<div class="ccr_box">
									<div class="ccr_bt">
										<div class="ccr_bt_rtng">
											<p class="avrg_rtng">{{carrierData.averageRating}}</p>
											<div class="avrg_rtng_r" (click)="redirectPageCarrier(carrierData?.dotNumber,carrierData.companyName)">
												<div class="reviws">
													<a href="https://carriernetwork.ai/carrier-profile/{{carrierData.dotNumber}}/{{carrierData.companyName}}/#review" target="_blank">{{carrierData.totalReview ? carrierData.totalReview : '0'}} <span *ngIf="carrierData.totalReview > 1">Reviews</span>
														<span *ngIf="carrierData.totalReview <= 1">Review</span></a>
												</div>
												<app-review-show [averageRating]="carrierData?.averageRating"></app-review-show>
											</div>
										</div>
									</div>
									<div class="ccr_bb">
										<span class="wr_link pointer" (click)="redirectPageCity(carrierData,carrierData?.dotNumber)">Write a Review</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div *ngIf="reviewData?.length==0" class="data_not_found">
		<span class="txt_2 txt_lb fw_5">No Records Found...</span>
	</div>

	<div class="text-center" *ngIf="reviewData?.length > 0 && spinnerLoader">
		<span class="spinner-border" role="status" style="color: #00B4FC;"></span>
	</div>

	<div *ngIf="reviewData?.length > 0 && dataNotFound && !spinnerLoader" class="noMore_record">
		<span>There are no more records to show.</span>
	</div>

	

	<div class="skt_eifr" *ngIf="skeletonLoader">
		<ngx-skeleton-loader count="1" [theme]="{ width: '100%', height: '24px', margin: '0px 0 24px' }"></ngx-skeleton-loader>
		<div class="">
			<div *ngFor="let fake of generateFakeSkeleton(2)">
				<ngx-skeleton-loader count="1" [theme]="{ width: '100%', height: '20px', margin: '0px 0 8px' }"></ngx-skeleton-loader>
				<ngx-skeleton-loader count="1" [theme]="{ width: '100%', height: '40px', margin: '0px 0 24px' }"></ngx-skeleton-loader>
			</div>
		</div>
		<ngx-skeleton-loader count="4" [theme]="{ width: '100%', height: '24px', margin: '0px 0 24px' }"></ngx-skeleton-loader>
	</div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>