<div class="mt-4">
    <p class="mb-2">Explore detailed information on lanes and regions provided and managed by Jose J Diaz, backed
      by multiple reviews and ratings. Carrier Network offers insights into Jose J Diaz-managed routes, ensuring
      you make well-informed, accurate, and reliable logistics decisions based on trusted feedback. This ensures
      seamless planning for shippers and brokers.</p>
    <div class="mb-3"><span class="detail_title">Lanes:</span> <span class="ms-2 detail_value">Private</span>
    </div>
    <div class=""><span class="detail_value">This information was provided by</span><span
        class="ms-2  detail_title">Jose J Diaz</span> </div>
    <img src="/assets/images/map.png">
  </div>