.cn_header_bar { display: block; width: 100%; height: 80px; }
.cn_side_menu_overview { display: flex; width: 100%; position: relative; }
/*.cn_side_menu_overview .cn_smo_l { width: 260px; }*/
.cn_side_menu_overview .cn_smo_r { max-width: calc(100% - 260px); padding: 0.7rem 1rem 0; margin: 0 auto; width: 100%; }

@media screen and (max-width: 760px) {
  .cn_smo_l { display: none; }
  /* .cn_side_menu_overview .cn_smo_r { width: 100%; padding-left: 0px; } */
}

.loader-container { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); display: flex; align-items: center; justify-content: center; z-index: 1000; }
.skt_eifr { width: 80%; max-width: 600px; }
.loading { pointer-events: none; opacity: 0.5; }

@media screen and (max-width:767px) {
  .cn_header_bar { height: 56px; }
  .cn_side_menu_overview .cn_smo_r { max-width: 100%; padding: 0.7rem 0.7rem 0; }
}

/*.cn_side_menu_overview { display: flex; height: 100vh; }*/

.cn_smo_l { width: 260px; transition: width 0.3sease; }
 .hidden .cn_smo_l { width: 60px; }
.sidebar_toggle { position: fixed; bottom: 6px; left: 260px; background-color: #000; color: #fff; border: none; cursor: pointer; z-index: 2; width: 42px; height: 42px; }
.sidebar_toggle i { color: #fff; }
.cn_smo_r { flex-grow: 1; padding: 20px; background-color: #f4f4f4; }
