<div class="content_box">
  <div class="contnt_hed">
    <div class="ch_l">
      <h3 class="ch_tlt">My Truck Availability List <span> (12)</span></h3>
    </div>
    <div class="ch_rl"></div>
  </div>
  
  <div class="content_body">
    <P class="ch_dis">A Load Availability List provides a comprehensive overview of available transportation loads, detailing shipment specifics, pickup and delivery locations, dates, and required equipment. It helps carriers find suitable loads, optimizing logistics efficiency and ensuring timely transport services for shippers. Essential for streamlined freight management.</P>
  </div>
</div>

<div class="table_data_con">
  <div class="table_actions">
    <form class="cn_field">
      <div class="btns_box">
        <div class="row align-items-center">
          <div class="col-md-5">
            <p class="txt_1 fw_6" [ngClass]="{'d-none': !showAdvancedFilter}">Advanced Filter</p>
            <div class="comn_fltr" [ngClass]="{'d-none': showAdvancedFilter}">
              <mat-form-field appearance="none">
                <mat-label>Table Search</mat-label>
                <mat-icon matTextPrefix class="material-symbols-outlined">filter_list</mat-icon>
                <input type="text" matInput placeholder="Search" class="form-control cn_input ms-2">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-7">
            <div class="btn_r">
              <!-- <span class="cn_btn txt_btn">
                <i class="fa-solid fa-plus me-2"></i>
                <span>View All</span>
              </span>
              <span class="cn_btn txt_btn">
                <i class="fa-solid fa-plus me-2"></i>
                <span>Add</span>
              </span> -->
              <span class="cn_btn icn_btn adv_filter_btn" (click)="toggleFilter()">
                <i class="fa-sharp fa-solid fa-filter"></i>
              </span>
              <span class="cn_btn icn_btn">
                <i class="fa-duotone fa-solid fa-rotate-right"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="filter_box" [ngClass]="{'d-none': !showAdvancedFilter}">
          <div class="filtr_con">
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Frequency</mat-label>
                    <mat-select>
                      <mat-option value="">Every Day</mat-option>
                      <mat-option value="">Every Week</mat-option>
                      <mat-option value="">Every Month</mat-option>
                      <mat-option value="">Only One time</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3"> 
                  <mat-form-field>
                    <mat-label>Equipment Type</mat-label>
                    <mat-select>
                      <mat-option value="option_1">Option 1</mat-option>
                      <mat-option value="option_2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Weight (lbs)</mat-label>
                    <input type="text" matInput placeholder="Search">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Length (ft)</mat-label>
                    <input type="text" matInput placeholder="Search">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Carrier Information</mat-label>
                    <input type="text" matInput placeholder="Search">
                  </mat-form-field>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-3">
                  <p class="cn_input_lbl">Checkbox</p>
                  <mat-checkbox class="me-3">Checked</mat-checkbox>
                  <mat-checkbox class="">Indeterminate</mat-checkbox>
                </div>
                <div class="col-md-3">
                  <p class="cn_input_lbl">Toggle</p>
                  <mat-button-toggle-group class="toggle_switch" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="yes">Yes</mat-button-toggle>
                    <mat-button-toggle value="no">NO</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="date_range_filter">
                    <mat-label>Accessed At</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date">
                      <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <div class="fltr_actn">
                    <button class="cn_btn btn_bordered">Clear</button>
                    <button class="cn_btn">Apply</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="table_data" tabindex="0">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="loadId" sticky>
        <th mat-header-cell *matHeaderCellDef>
          <div class="sticky_boder">Load ID</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="user_dtl sticky_boder">{{element.loadId}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="truckName">
        <th mat-header-cell *matHeaderCellDef>Truck Information</th>
        <td mat-cell *matCellDef="let element" class="min_w_200">

          <div class="truck_nam">{{element.truckName}}</div>
          <span class="chip_crd cc_wth" matTooltip="Truck Weight">
            <i class="fa-duotone fa-regular fa-weight-scale"></i>
            <span>{{element.weight}} lbs</span>
          </span>
          <span class="chip_crd cc_lth" matTooltip="Truck Length">
            <i class="fa-duotone fa-regular fa-ruler-combined"></i>
            <span>{{element.length}} ft</span>
          </span>
          
        </td>
      </ng-container>
      <ng-container matColumnDef="carrierInformation">
        <th mat-header-cell *matHeaderCellDef>Carrier Information</th>
        <td mat-cell *matCellDef="let element">{{element.carrierInformation}}</td>
      </ng-container>
      <ng-container matColumnDef="pickup">
        <th mat-header-cell *matHeaderCellDef>Pickup</th>
        <td mat-cell *matCellDef="let element" class="min_w_200" matTooltip="{{element.frequency}}">
          <div class="loca_col">
            <div class="loca_txt">
              <!-- <img src="/assets/country/us.png" class="flaf_icn"> -->{{element.pickup}}
            </div>
            <div class="frncy_txt {{formatFrequency(element.frequency)}}">
              <i class="fa-duotone fa-solid" [ngClass]="{
                'fa-calendar-days': element.frequency === 'Every Day',
                'fa-calendar-week': element.frequency === 'Every Week',
                'fa-calendar-lines': element.frequency === 'Every Month',
                'fa-calendar-clock': element.frequency === 'Only One time'
              }"></i>
              {{element.frequencyPicTime}}
            </div>
          </div>
          
        </td>
      </ng-container>
      <ng-container matColumnDef="dropOff">
        <th mat-header-cell *matHeaderCellDef>DropOff</th>
        <td mat-cell *matCellDef="let element" class="min_w_200" matTooltip="{{element.frequency}}">
          <div class="loca_col">
            <div class="loca_txt">{{element.dropOff}}</div>
            <div class="frncy_txt {{formatFrequency(element.frequency)}}">
              <i class="fa-duotone fa-solid" [ngClass]="{
                'fa-calendar-days': element.frequency === 'Every Day',
                'fa-calendar-week': element.frequency === 'Every Week',
                'fa-calendar-lines': element.frequency === 'Every Month',
                'fa-calendar-clock': element.frequency === 'Only One time'
              }"></i>
              {{element.frequencyDropTime}}
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef>Distance</th>
        <td mat-cell *matCellDef="let element">{{element.distance}} Miles</td>
      </ng-container>
      <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef>Frequency</th>
        <td mat-cell *matCellDef="let element" class="{{formatFrequency(element.frequency)}}">
          {{element.frequency}}
        </td>
      </ng-container>
      <ng-container matColumnDef="equipmentType">
        <th mat-header-cell *matHeaderCellDef>Equipment Type</th>
        <td mat-cell *matCellDef="let element">{{element.equipmentType}}</td>
      </ng-container>
      <ng-container matColumnDef="shipmentType">
        <th mat-header-cell *matHeaderCellDef>Shipment Type</th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.shipmentTypeInfo}}">{{element.shipmentType}}</td>
      </ng-container>
      <ng-container matColumnDef="costPerMile">
        <th mat-header-cell *matHeaderCellDef>Cost</th>
        <td mat-cell *matCellDef="let element">
          <span class="cost_sufix">$</span>
          <span class="cost_vlu">{{element.costPerMile}}</span> 
          <span class="cost_prefix">/Mile</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight (lbs)</th>
        <td mat-cell *matCellDef="let element">
          
          {{element.weight}}</td>
      </ng-container>
      <ng-container matColumnDef="length">
        <th mat-header-cell *matHeaderCellDef>Length (ft)</th>
        <td mat-cell *matCellDef="let element">{{element.length}}</td>
      </ng-container>
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef>Notes</th>
        <td mat-cell *matCellDef="let element" class="min_w_200">{{element.notes}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<div class="content_box">
  <div class="contnt_hed">
    <div class="ch_l">
      <h3 class="ch_tlt">My Truck Availability List</h3>
    </div>
    <div class="ch_rl"></div>
  </div>
  
  <div class="content_body">
    <P class="ch_dis">A Load Availability List provides a comprehensive overview of available transportation loads, detailing shipment specifics, pickup and delivery locations, dates, and required equipment. It helps carriers find suitable loads, optimizing logistics efficiency and ensuring timely transport services for shippers. Essential for streamlined freight management.</P>

    <div class="skeletonloader">
      <div class="empty-state">
        <div class="empty-state__content">
        <div class="empty-state__icon">
          <img src="./assets/images/no_data_found_img.jpg" alt="">
        </div>
        <div class="empty-state__message">My Truck Availability List</div>
          <p class="empty-state__help">This is no Truck Availability</p>
        </div>
      </div>
    </div>
  </div>
</div>