<div class="vertical_side_menu" id="sideBar">
	<div class="vsm_con">
		<ul>
			<li class="lbl_1" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
				<a *ngIf="userType =='CARRIER'" class="main_menu_a" [routerLink]="['/carrier-dashboard']">
					<i class="fa-duotone fa-solid fa-gauge-high"></i>
					<span>Dashboard</span>
				</a>
				<a *ngIf="userType =='BROKER'" class="main_menu_a" [routerLink]="['/broker-dashboard']">
					<i class="fa-duotone fa-solid fa-gauge-high"></i>
					<span>Dashboard</span>
				</a>
				<a *ngIf="userType =='SHIPPER'" class="main_menu_a" [routerLink]="['/shipper-dashboard']">
					<i class="fa-duotone fa-solid fa-gauge-high"></i>
					<span>Dashboard</span>
				</a>
				<a *ngIf="userType =='DISPATCHER'" class="main_menu_a" [routerLink]="['/dispatcher-dashboard']">
					<i class="fa-duotone fa-solid fa-gauge-high"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li class="lbl_2" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
				<div [ngClass]="toggleDropdown ? 'menu_max' : 'menu_min'">
					<a class="v_drop_menu" (click)="menuToggleEvent($event,'profile')">
						<div>
							<i class="fa-duotone fa-solid fa-user-pen"></i>
							<span>Edit Profile</span>
						</div>
						<span class="material-icons-outlined">expand_more</span>
					</a>
					<ul class="v_sub_menu">
						<li *ngIf="userType =='CARRIER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/overview']" (click)="isMobile ? mobMenuToggleEvent() : null">Overview</a>
						</li>
						<li *ngIf="userType =='BROKER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/overview']" (click)="isMobile ? mobMenuToggleEvent() : null">Overview</a>
						</li>
						<li *ngIf="userType ==='SELLER'  || userType ==='SHIPPER' || userType === 'DISPATCHER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/overview']" (click)="isMobile ? mobMenuToggleEvent() :null">Overview</a>
						</li>
						<li *ngIf="userType =='CARRIER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/business-information']"  (click)="isMobile ? mobMenuToggleEvent() :null">Business Information</a>
						</li>
						<li *ngIf="userType === 'BROKER'"
							[routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/business-information']"  (click)="isMobile ? mobMenuToggleEvent() :null">Business Information</a>
						</li>
						<li *ngIf="userType ==='SELLER' || userType ==='SHIPPER' || userType === 'DISPATCHER'"
							[routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/business-information']"  (click)="isMobile ? mobMenuToggleEvent() :null">Business Information</a>
						</li>
						<!-- <li [routerLinkActive]="['active']" *ngIf="userType =='CARRIER'">
							<a class="sub_menu_a" [routerLink]="['/profile/insurance']">Insurance</a>
						</li> -->
						<li [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="userType =='CARRIER' ? ['profile/lanes-regions-terminals'] : userType =='BROKER' ? ['profile/lanes-regions-terminals']: ['profile/non-carrier-lanes-regions']">
							<span *ngIf="userType == 'CARRIER' || userType == 'BROKER'" (click)="isMobile ? mobMenuToggleEvent() :null">Lanes, Regions & Terminals</span>
							<span *ngIf="userType ==='SELLER' || userType ==='SHIPPER' || userType === 'DISPATCHER'" (click)="isMobile ? mobMenuToggleEvent() :null">Lanes & Regions</span>
							</a>
						</li>
						<!-- <li *ngIf="userType ==='SELLER' || userType ==='BROKER' || userType ==='SHIPPER' || userType === 'DISPATCHER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['/profile/non-carrier-lanes-regions']">Lanes & Regions</a>
						</li> -->
						<li *ngIf="userType =='CARRIER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/media-gallery']" (click)="isMobile ? mobMenuToggleEvent() :null">Media Gallery</a>
						</li>
						<li *ngIf="userType =='CARRIER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/contact-information']" (click)="isMobile ? mobMenuToggleEvent() :null">Contact Information</a>
						</li>
						<li *ngIf="userType =='BROKER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/contact-information']" (click)="isMobile ? mobMenuToggleEvent() :null">Contact Information</a>
						</li>
						<li *ngIf="userType =='CARRIER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/insurance-insights']" (click)="isMobile ? mobMenuToggleEvent() :null">Insurance</a>
						</li>
						<li *ngIf="userType =='CARRIER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/authority-insights']" (click)="isMobile ? mobMenuToggleEvent() :null">Authority</a>
						</li>
						<li *ngIf="userType =='BROKER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/insurance-insights']" (click)="isMobile ? mobMenuToggleEvent() :null">Insurance</a>
						</li>
						<li *ngIf="userType =='BROKER'" [routerLinkActive]="['active']">
							<a class="sub_menu_a" [routerLink]="['profile/authority-insights']" (click)="isMobile ? mobMenuToggleEvent() :null">Authority</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="lbl_1" [ngClass]="activeSubTab=='mySavedCarriers' ? 'active' :  ''"
				*ngIf="userType ==='SELLER' || userType ==='BROKER' || userType ==='SHIPPER' || userType === 'DISPATCHER'">
				<a class="" [ngClass]="activeSubTab=='mySavedCarriers' ? 'main_menu_a' :  ''"
					[routerLink]="['/my-saved-carriers']">
					
					<i class="fa-duotone fa-solid fa-address-card"></i>
					<span (click)="isMobile ? mobMenuToggleEvent() :null">My Saved Carriers</span>
				</a>
			</li>
			<li class="lbl_1"
				*ngIf="userType ==='SELLER' || userType ==='BROKER' || userType ==='SHIPPER' || userType === 'DISPATCHER'"
				[routerLinkActive]="['active']">
				<a class="main_menu_a" [routerLink]="['/my-saved-notes']">
					
					<i class="fa-duotone fa-solid fa-note-medical"></i>
					<span (click)="isMobile ? mobMenuToggleEvent() :null">My Saved Notes</span>
				</a>
			</li>
			<!-- <li class="lbl_1" *ngIf="userType ==='SELLER' || userType ==='BROKER' || userType ==='SHIPPER' || userType === 'DISPATCHER'" [routerLinkActive]="['active']"> -->
			<!-- <li class="lbl_1"
				*ngIf="userType ==='SELLER' || userType ==='CARRIER' ||  userType ==='BROKER' || userType ==='SHIPPER' || userType === 'DISPATCHER'"
				[routerLinkActive]="['active']">
				<a class="main_menu_a"
				[routerLink]="userType =='CARRIER' ? ['/profile/recent-profile-views'] : userType =='BROKER' ? ['/profile/broker-recent-profile-views']: ['/profile/non-carrier-recent-views']">
					<i class="fa-duotone fa-solid fa-users-viewfinder"></i>
					<span *ngIf="userType !=='CARRIER' && userType !=='BROKER'" (click)="isMobile ? mobMenuToggleEvent() :null">Recent View</span>
					<span *ngIf="userType =='CARRIER' || userType =='BROKER'" (click)="isMobile ? mobMenuToggleEvent() :null">Profile Viewed</span>
				</a>
			</li> -->

			<!-- Performance Analytics -->
			<li class="lbl_2" *ngIf="userType ==='CARRIER' || userType ==='BROKER'" [ngClass]="(activeSubTab=='profileAnalytics' || activeSubTab=='contactLead') ? 'active' :  '' ">
				<div [ngClass]="togglePerformanceAnalytics ? 'menu_max' : 'menu_min'" >
					<a class="v_drop_menu" (click)="menuToggleEvent($event,'performanceAnalytics')">
						<div class="d-flex">
							<i class="fa-duotone fa-solid fa-chart-user"></i>
							<span>Performance Analytics</span>
						</div>
						<span class="material-icons-outlined">expand_more</span>
					</a>

					<ul class="v_sub_menu">
						<li [ngClass]="activeSubTab=='profileAnalytics' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='profileAnalytics' ? 'sub_menu_a' :  ''" [routerLink]="['performance-analytics/profile']" (click)="isMobile ? mobMenuToggleEvent() :null">Profile Analytics</a>
						</li>
						<li [ngClass]="activeSubTab=='contactLead' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='contactLead' ? 'sub_menu_a' :  ''" [routerLink]="['performance-analytics/contact-lead']" (click)="isMobile ? mobMenuToggleEvent() :null">Contact Lead</a>
						</li>
					</ul>
				</div>
			</li>

			<!-- Browse History -->
			 <!-- *ngIf="userType ==='CARRIER' || userType ==='BROKER'" -->
			<li class="lbl_2" 
			 [ngClass]="(activeSubTab=='truckingCompanies' || activeSubTab=='brokerageCompanies') ? 'active' :  '' ">
				<div [ngClass]="toggleDropdownBrowseHistory ? 'menu_max' : 'menu_min'" >
					<a class="v_drop_menu" (click)="menuToggleEvent($event,'browseHistory')">
						<div class="d-flex">
							<i class="fa-sharp-duotone fa-regular fa-rectangle-history-circle-user"></i>
							<span>Browse History</span>
						</div>
						<span class="material-icons-outlined">expand_more</span>
					</a>
					<ul class="v_sub_menu">
						<li [ngClass]="activeSubTab=='truckingCompanies' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='truckingCompanies' ? 'sub_menu_a' :  ''" [routerLink]="['/browse-history/trucking-companies']" (click)="isMobile ? mobMenuToggleEvent() :null">Trucking Companies</a>
						</li>
						<li [ngClass]="activeSubTab=='brokerageCompanies' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='brokerageCompanies' ? 'sub_menu_a' :  ''" [routerLink]="['/browse-history/brokerage-companies']" (click)="isMobile ? mobMenuToggleEvent() :null">Brokerage Companies</a>
						</li>
					</ul>
				</div>
			</li>

			<!-- for review -->
			<li class="lbl_2" [ngClass]="(activeSubTab=='reviewsToBrokers' || activeSubTab=='reviewsToCarrier' || activeSubTab=='writeReview' || activeSubTab=='manageReview' || activeSubTab=='reviewInvitation' || activeSubTab=='inviteReview' || activeSubTab=='myProfileReviews' || activeSubTab=='pendingReviewInvitation') ? 'active' : '' ">
				<div [ngClass]="toggleDropdownReview ? 'menu_max' : 'menu_min'" >
					<a class="v_drop_menu" (click)="menuToggleEvent($event,'review')">
						<div class="d-flex">
							<i class="fa-sharp-duotone fa-solid fa-star-sharp-half-stroke"></i>
							<span>Review</span>
						</div>
						<span class="material-icons-outlined">expand_more</span>
					</a>
					<ul class="v_sub_menu">
						<li [ngClass]="activeSubTab=='myProfileReviews' ? 'active' : ''" class="" *ngIf="userType =='CARRIER' || userType =='BROKER'">
							<a [ngClass]="activeSubTab=='myProfileReviews' ? 'sub_menu_a' : ''" [routerLink]="['/review/my-profile-reviews']">
								<span (click)="isMobile ? mobMenuToggleEvent() :null">My Profile Reviews</span>
							</a>
						</li>
						<li [ngClass]="activeSubTab=='reviewsToBrokers' ? 'active' : ''" *ngIf="userType ==='CARRIER'">
							<a [ngClass]="activeSubTab=='reviewsToBrokers' ? 'sub_menu_a' : ''" [routerLink]="['/review/reviews-to-brokers']">
								<span (click)="isMobile ? mobMenuToggleEvent() :null">Reviews to Brokers</span>
							</a>
						</li>
						<li [ngClass]="activeSubTab=='reviewsToCarrier' ? 'active' : ''" *ngIf="userType ==='BROKER'">
							<a [ngClass]="activeSubTab=='reviewsToCarrier' ? 'sub_menu_a' : ''" [routerLink]="['/review/reviews-to-carrier']">
								<span (click)="isMobile ? mobMenuToggleEvent() :null">Reviews to Carrier</span>
							</a>
						</li>
						<li [ngClass]="activeSubTab=='manageReview' ? 'active' : ''" *ngIf="userType ==='SELLER' || userType ==='SHIPPER' || userType === 'DISPATCHER'">
							<a [ngClass]="activeSubTab=='manageReview' ? 'sub_menu_a' : ''" [routerLink]="['/review/non-carrier-manage-reviews']">
								<span (click)="isMobile ? mobMenuToggleEvent() :null">Reviews You’ve Written</span>
							</a>
						</li>
						<!-- durgesh gumasta -->
						<li [ngClass]="activeSubTab=='reviewInvitation' ? 'active' : ''" *ngIf="userType ==='SELLER' || userType ==='BROKER' ||  userType ==='SHIPPER' || userType === 'DISPATCHER'">
							<a [ngClass]="activeSubTab=='reviewInvitation' ? 'sub_menu_a' : ''" [routerLink]="['/review/non-carrier-review-invitation']" >
								<span (click)="isMobile ? mobMenuToggleEvent() :null">Review Invitation</span>
							</a>
						</li>
						<!-- new component added -->
						<!-- <li *ngIf="userType =='CARRIER'" [ngClass]="activeSubTab=='pendingReviewInvitation' ? 'active' :''">
							<a [ngClass]="activeSubTab=='pendingReviewInvitation' ? 'sub_menu_a' : ''" [routerLink]="['/review/pending-review-invitation']">
								<span (click)="isMobile ? mobMenuToggleEvent() :null">Pending Review Invitation</span>
							</a>
						</li> -->
					</ul>
				</div>
			</li>

			<!-- Digital Marketing  -->
			<li class="lbl_2" *ngIf="userType ==='CARRIER' || userType ==='BROKER'"
				[ngClass]="(activeSubTab=='seo' || activeSubTab=='analytics' || activeSubTab=='social-media' ) ? 'active' :  ''">
				<div [ngClass]="toggleDropdownDigitalMarketing ? 'menu_max' : 'menu_min'">
					<a class="v_drop_menu" (click)="menuToggleEvent($event,'digitalMarketing')">
						<div class="d-flex align-items-center">
							<i class="fa-duotone fa-solid fa-megaphone"></i>
							<!-- <i class="fa-sharp fa-solid fa-megaphone"></i> -->
							<span>Digital Marketing</span>
						</div>
						<span class="material-icons-outlined">expand_more</span>
					</a>
					<ul class="v_sub_menu">
						<li *ngIf="userType =='CARRIER' || userType =='BROKER'" [ngClass]="activeSubTab=='seo' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='seo' ? 'sub_menu_a' :  ''"
								[routerLink]="['/digital-marketing/seo']"><span (click)="isMobile ? mobMenuToggleEvent() :null"> SEO </span></a>
						</li>
						<li *ngIf="userType =='CARRIER' || userType =='BROKER'"
							[ngClass]="activeSubTab=='analytics' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='analytics' ? 'sub_menu_a' :  ''"
								[routerLink]="['digital-marketing/analytics']"><span (click)="isMobile ? mobMenuToggleEvent() :null">Google Analytics
								</span></a>
						</li>
						<li class="" *ngIf="userType =='CARRIER' || userType =='BROKER'"
							[ngClass]="activeSubTab=='social-media' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='social-media' ? 'sub_menu_a' :  ''"
								[routerLink]="['digital-marketing/social-media']">

								<span (click)="isMobile ? mobMenuToggleEvent() :null">Social Media</span>
							</a>
						</li>

					</ul>
				</div>
			</li>

			<!-- Team  -->
      <li class="lbl_1" [routerLinkActive]="['active']">
				<a class="main_menu_a" [routerLink]="['teams']">
          <i class="fa-duotone fa-regular fa-people-group"></i>
					<span (click)="isMobile ? mobMenuToggleEvent() :null">Teams</span>
				</a>
			</li>

			<!-- Monitor Network  -->
			<li class="lbl_2" [ngClass]="(activeSubTab=='brokerAlert' || activeSubTab=='carrierAlert' || activeSubTab=='authorityAlert'  || activeSubTab=='insuranceAlert' ) ? 'active' :  ''">
      <div [ngClass]="toggleDropdownMonitorNetwork ? 'menu_max' : 'menu_min'">
        <a class="v_drop_menu" (click)="menuToggleEvent($event,'monitorNetwork')">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-bell-on"></i>
            <span>Monitor Network</span>
          </div>
          <span class="material-icons-outlined">expand_more</span>
        </a>
        <ul class="v_sub_menu">
          <li [ngClass]="activeSubTab=='brokerAlert' ? 'active' :  ''">
            <a [ngClass]="activeSubTab=='brokerAlert' ? 'sub_menu_a' :  ''" [routerLink]="['/monitor-network/broker-alert']">
              <span (click)="isMobile ? mobMenuToggleEvent() :null"> Broker Alert </span>
            </a>
          </li>
          <li [ngClass]="activeSubTab=='carrierAlert' ? 'active' :  ''">
            <a [ngClass]="activeSubTab=='carrierAlert' ? 'sub_menu_a' :  ''" [routerLink]="['/monitor-network/carrier-alert']">
              <span (click)="isMobile ? mobMenuToggleEvent() :null"> Carrier Alert </span>
            </a>
          </li>
          <li [ngClass]="activeSubTab=='authorityAlert' ? 'active' :  ''">
            <a [ngClass]="activeSubTab=='authorityAlert' ? 'sub_menu_a' :  ''" [routerLink]="['/monitor-network/authority-alert']">
              <span (click)="isMobile ? mobMenuToggleEvent() :null"> Authority Alert </span>
            </a>
          </li>
          <li [ngClass]="activeSubTab=='insuranceAlert' ? 'active' :  ''">
            <a [ngClass]="activeSubTab=='insuranceAlert' ? 'sub_menu_a' :  ''" [routerLink]="['/monitor-network/insurance-alert']">
              <span (click)="isMobile ? mobMenuToggleEvent() :null"> Insurance Alert </span>
            </a>
          </li>

        </ul>
      </div>
    </li>


			<!-- <li class="lbl_2" [ngClass]="(activeSubTab=='seo' || activeSubTab=='analytics' || activeSubTab=='social-media' ) ? 'active' :  ''">
				<div [ngClass]="toggleDropdownTeam ? 'menu_max' : 'menu_min'">
					<a class="v_drop_menu" (click)="menuToggleEvent($event,'team')">
						<div class="d-flex align-items-center">
							<i class="fa-duotone fa-regular fa-people-group"></i>
							<span>Team</span>
						</div>
						<span class="material-icons-outlined">expand_more</span>
					</a>
					<ul class="v_sub_menu">
						<li [ngClass]="activeSubTab=='seo' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='seo' ? 'sub_menu_a' :  ''"
								[routerLink]="['/teams/list']"><span (click)="isMobile ? mobMenuToggleEvent() :null"> Team Member List </span></a>
						</li>
						<li [ngClass]="activeSubTab=='analytics' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='analytics' ? 'sub_menu_a' :  ''"
								[routerLink]="['/teams/add']"><span (click)="isMobile ? mobMenuToggleEvent() :null">Add Member</span></a>
						</li>
						<li [ngClass]="activeSubTab=='analytics' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='analytics' ? 'sub_menu_a' :  ''"
								[routerLink]="['/teams/edit']"><span (click)="isMobile ? mobMenuToggleEvent() :null">Edit Member</span></a>
						</li>
					</ul>
				</div>
			</li> -->

			<!--Forecast Availability -->
			<!-- <li class="lbl_2" *ngIf="userType ==='CARRIER'"
				[ngClass]="(activeSubTab=='add-availability' || activeSubTab=='manage-availability') ? 'active' :  ''">
				<div [ngClass]="toggleDropdownForecastAvailability ? 'menu_max' : 'menu_min'">
					<a class="v_drop_menu" (click)="menuToggleEvent($event,'forecastAvailibilty')">
						<div class="d-flex">
							<i class="fa-sharp-duotone fa-solid fa-star-sharp-half-stroke"></i>
							<span>My Truck Availability</span>
						</div>
						<span class="material-icons-outlined">expand_more</span>
					</a>
					<ul class="v_sub_menu">
						<li *ngIf="userType =='CARRIER'" [ngClass]="activeSubTab=='add-availability' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='add-availability' ? 'sub_menu_a' :  ''"
								[routerLink]="['forecastAvailibilty/add-availability']" (click)="isMobile ? mobMenuToggleEvent() :null">Add Availability</a>
						</li>

						<li class="" *ngIf="userType =='CARRIER'"
							[ngClass]="activeSubTab=='manage-availability' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='manage-availability' ? 'sub_menu_a' :  ''"
								[routerLink]="['forecastAvailibilty/manage-availability']">
								<span (click)="isMobile ? mobMenuToggleEvent() :null">Manage Availability</span>
							</a>
						</li>
					</ul>
				</div>
			</li> -->

			<!-- My Truck Availability -->
			<li class="lbl_1" *ngIf="userType ==='CARRIER'" [routerLinkActive]="['active']">
				<a class="main_menu_a" [routerLink]="['my-truck-availability']">
					<i class="fa-sharp-duotone fa-regular fa-truck-container"></i>
					<span (click)="isMobile ? mobMenuToggleEvent() :null">My Truck Availability</span>
				</a>
			</li>

			<!-- My Truck On Demand -->
			<li class="lbl_1" [routerLinkActive]="['active']" *ngIf="userType ==='SELLER' || userType ==='BROKER' ||  userType ==='SHIPPER' || userType === 'DISPATCHER'">
				<a class="main_menu_a" [routerLink]="['truck-on-demand']">
					<i class="fa-sharp-duotone fa-regular fa-truck-container"></i>
					<span (click)="isMobile ? mobMenuToggleEvent() :null">Truck On Demand</span>
				</a>
			</li>


			<!--Load qoute -->
			<!-- <li class="lbl_1" *ngIf="userType ==='CARRIER' || userType ==='SELLER' || userType ==='BROKER' || userType ==='SHIPPER' || userType === 'DISPATCHER'" [routerLinkActive]="['active']">
				<a class="main_menu_a" [routerLink]="['requested-load']">
					<i class="fa-sharp-duotone fa-solid fa-comments-dollar"></i>
					<span (click)="isMobile ? mobMenuToggleEvent() :null">Requested Leads & Quotes</span>
				</a>
			</li>

			<li class="lbl_1" *ngIf="userType ==='BROKER' || userType ==='CARRIER'" [routerLinkActive]="['active']">
				<a class="main_menu_a" [routerLink]="['received-load']">
					<i class="fa-sharp-duotone fa-solid fa-comments-dollar"></i>
				<span (click)="isMobile ? mobMenuToggleEvent() :null"> Received Leads & Quotes</span>
				</a>
			</li> -->
			<!--Load qoute -->
			<li class="lbl_1" *ngIf="userType !== 'CARRIER'" [routerLinkActive]="['active']">
				<a class="main_menu_a" [routerLink]="['requested-load']">
				 <i class="fa-sharp-duotone fa-solid fa-comments-dollar"></i>
				 <span (click)="isMobile ? mobMenuToggleEvent() :null">Requested Quote</span>
				</a>
			   </li>
			
			   <li class="lbl_1" *ngIf="userType ==='BROKER' || userType ==='CARRIER'" [routerLinkActive]="['active']">
				<a class="main_menu_a" [routerLink]="['received-load']">
				 <i class="fa-sharp-duotone fa-solid fa-comments-dollar"></i>
				<span (click)="isMobile ? mobMenuToggleEvent() :null">Load Lead & Quote</span>
				</a>
			   </li>
			 
				
			<!--carrier Search -->
			<!-- <li class="lbl_2" *ngIf="userType !=='CARRIER'"
				[ngClass]="(activeSubTab=='carrier-search' || activeSubTab=='report') ? 'active' :  ''">
				<div [ngClass]="toggleDropdownCarrier ? 'menu_max' : 'menu_min'">
					<a class="v_drop_menu" (click)="menuToggleEvent($event,'carrier')">
						<div class="d-flex">
							<i class="fa-sharp-duotone fa-solid fa-star-sharp-half-stroke"></i>
							<span>Carrier</span>
						</div>
						<span class="material-icons-outlined">expand_more</span>
					</a>
					<ul class="v_sub_menu">
						<li *ngIf="userType !=='CARRIER'" [ngClass]="activeSubTab=='carrier-search' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='carrier-search' ? 'sub_menu_a' :  ''"
								[routerLink]="['carrier/carrier-search']" >Carrier Search</a>
						</li>

						<li class="" *ngIf="userType !== 'CARRIER'"
							[ngClass]="activeSubTab=='report' ? 'active' :  ''">
							<a [ngClass]="activeSubTab=='report' ? 'sub_menu_a' :  ''"
								[routerLink]="['carrier/report']"  >
								<span>Report</span>
							</a>
						</li>
					</ul>
				</div>
			</li> -->
			
			<li class="lbl_1"
				*ngIf="userType ==='SELLER' || userType ==='BROKER' || userType ==='SHIPPER' || userType === 'DISPATCHER'"
				[routerLinkActive]="['active']">
				<a class="main_menu_a" [routerLink]="['/subscription/manage']">
					<i class="fa-sharp fa-regular fa-award"></i>
					<span (click)="isMobile ? mobMenuToggleEvent() :null">Manage Subscription</span>
				</a>
			</li>
			<li class="lbl_1" *ngIf="userType ==='CARRIER'" [routerLinkActive]="['active']">
				<a class="main_menu_a" [routerLink]="['/subscription/manage']">
					<i class="fa-sharp fa-regular fa-award"></i>
				<span (click)="isMobile ? mobMenuToggleEvent() :null">Manage Subscription</span>
				</a>
			</li>

			<li class="lbl_2" *ngIf="userType !=='CARRIER'" [ngClass]="(activeSubTab=='find-carriers' ||activeSubTab=='download-report') ? 'active' :  ''" >
				<div [ngClass]="toggleDropdownFindCarrier ? 'menu_max' : 'menu_min'">
					<a class="v_drop_menu" (click)="menuToggleEvent($event,'find-carriers')">
						<div class="d-flex align-items-center">
							<i class="fa-duotone fa-solid fa-file-export"></i>
							<span>Carrier Data Exports</span>
						</div>
						<span class="material-icons-outlined">expand_more</span>
					</a>
					<ul class="v_sub_menu">					
						<li *ngIf="userType !='CARRIER'" [ngClass]="(activeSubTab=='find-carriers') ? 'active' :  ''" >
							<a  [ngClass]="activeSubTab=='find-carriers' ? 'sub_menu_a' :  ''" [routerLink]="['/carrier-data-exports/find-carriers']" (click)="isMobile ? mobMenuToggleEvent() :null">Find Carriers</a>
						</li>
						
						<li  [ngClass]="(activeSubTab=='download-report') ? 'active' :  ''" *ngIf="userType !='CARRIER'">
							<a  [ngClass]="(activeSubTab=='download-report') ? 'sub_menu_a' :  ''" [routerLink]="['/carrier-data-exports/download-report']" >
								<span (click)="isMobile ? mobMenuToggleEvent() :null">Download report</span>
							</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="lbl_2"  [ngClass]="(activeSubTab=='calculatorMile'|| activeSubTab=='manage-cp-mile' || activeSubTab=='calculatorMonth'||activeSubTab=='manage-cp-month') ? 'active' :  ''" >
				<div [ngClass]="toggleDropdownRcalculatorReview ? 'menu_max' : 'menu_min'">
				<a class="v_drop_menu" (click)="menuToggleEvent($event,'calculatorReview')">
					<div class="d-flex align-items-center">
							<!-- <mat-icon class="">list_alt</mat-icon> -->
							<i class="fa-solid fa-calculator-simple"></i>
							<span>Calculator</span>
					</div>
					<span class="material-icons-outlined">expand_more</span>
				</a>
				<ul class="v_sub_menu">
					<li  [ngClass]="(activeSubTab=='calculatorMile'||activeSubTab=='manage-cp-mile') ? 'active' :  ''" >
						<a  [ngClass]="(activeSubTab=='calculatorMile'||activeSubTab=='manage-cp-mile') ? 'sub_menu_a' :  ''" [routerLink]="['/calculator/manage-cp-mile']" (click)="isMobile ? mobMenuToggleEvent() :null">Cost Per Miles</a>
					</li>
					
					<li  [ngClass]="(activeSubTab=='calculatorMonth'||activeSubTab=='manage-cp-month') ? 'active' :  ''" >
						<a  [ngClass]="(activeSubTab=='calculatorMonth'||activeSubTab=='manage-cp-month') ? 'sub_menu_a' :  ''" [routerLink]="['/calculator/manage-cp-month']">
							<span (click)="isMobile ? mobMenuToggleEvent() :null">Monthly Cost</span>
						</a>
					</li>
				</ul>
				
			</div>
			</li>
			
			<li class="lbl_1" [routerLinkActive]="['active']">
				<a class="main_menu_a last_a_bdr" (click)="logout()">
				
					<i class="fa-duotone fa-right-from-bracket"></i>
					<span>Logout</span>
				</a>
			</li>
		</ul>
		<div class="profile_strength_box">
			<div class="dhb_r_t">
				<span class="dhb_rt_lbl">Complete Your Profile</span>
				<!-- <span class="dhb_rt_dis">80 %</span> -->
				<span class="dhb_rt_dis" *ngIf="totalStrenth">{{ showStrength(totalStrenth) }} %</span>
			</div>
			<div class="custom_slid profile_slide" *ngIf="totalStrenth">
				<mat-slider [disabled]="strengthdisabled" [max]="100" [min]="0" [(ngModel)]="totalStrenth">
					<input matSliderThumb>
				</mat-slider>
			</div>
		</div>
	</div>
</div>