
<div class="rtng_actn">
	<button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)"   [matTooltip]="ratingId+1 === 1 ? 'Poor Experience' : ratingId+1 === 2 ? 'Below Average' : ratingId+1 === 3 ? 'Average Experience' :  ratingId+1 === 4 ? 'Good Experience' :  ratingId+1 === 5 ? 'Excellent Experiences' : ''" matTooltipPosition="above">
		<mat-icon>{{showIcon(i)}}</mat-icon>
	</button>
	<mat-error *ngIf="starCount == null || starCount == 0">Star count is <strong>required</strong> and cannot be zero</mat-error>
</div>