<div class="container-fluid mt-4">
    <div class="spa-slide business_info_dtl_tab clearfix">
      <!-- <h2 class="pdt_tlt">Business Information</h2> -->
      <div class="pdt_points_sngl">
        <div class="row">
        <div class="col-md-4">
        <p class="sngl_pont">
          <span class="detail_title">Target Job Market:</span>
          <span class="detail_value">Private</span>
        </p>
      </div>
      <div class="col-md-4">
        <p class="sngl_pont">
          <span class="detail_title">Availability:</span>
          <span class="detail_value">Private</span>
        </p>
      </div>
      <div class="col-md-4">
        <p class="sngl_pont">
          <span class="detail_title">Shipment types:</span>
          <span class="detail_value">Private</span>
        </p>
      </div>
      <div class="col-md-4">
        <p class="sngl_pont mt-2">
          <span class="detail_title">Use Electronic Tracking:</span>
          <span class="detail_value">No</span>
        
        </p>
        </div>
      </div>
      </div>
      <div class="pdt_points_multi mt-3">
        <div class="row">

          <div class="col-md-4">
            <div class="multi_pont">
              <p class="detail_title">Cargo Types / Freight Types / Commodities:</p>
              <p class="detail_value"> Private</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="multi_pont">
              <p class="detail_title">Truck Types / Equipment Types:</p>
              <p class="detail_value"> Private</p>
            </div>
          </div>
          <div class="col-md-3">

            <p class="detail_title">MCS-150 Date:</p>
            <p class="detail_value">15 May, 2024</p>

          </div>
          <div class="col-md-4 mt-2">

            <p class="detail_title">MCS-150 Mileage</p>
            <p class="detail_value"> Private </p>

          </div>
        </div>
      </div>
    </div>
  </div>