/* Invite for Review */
.reviews_overview { display: flex; margin: 0 0 26px; }
.ro_l { width: 25%; border-right: 1px solid #EDE5E5; }
.ro_tlt { font-weight: 600; font-size: 16px; line-height: 24px; color: #333333; margin: 0 0 8px; }
.ro_totl_rew { font-weight: 600; font-size: 30px; line-height: 45px; color: #333333; }
.ro_totl_rew_txt { font-weight: 400; font-size: 12px; line-height: 18px; color: #666666; }
.ro_c { width: 35%; border-right: 1px solid #EDE5E5; padding: 0 0 16px 42px; }
.ro_avrg_rtgn { display: flex; align-items: center; }
.ro_avrg_rtgn .ro_avrg_no { font-weight: 600; font-size: 30px; line-height: 45px; color: #333333; }
.ro_avrg_rtgn .ro_avrg_str { font-size: 24px; margin: -2px 0 0 8px; color: #F1C644; }
.ro_avrg_txt { font-weight: 400; font-size: 12px; line-height: 18px; color: #666666; }
.ro_r { width: 40%; padding: 0 0 16px 42px; }
.ro_timlin_rtng { display: flex; align-items: center; margin: 0 0 10px; }
.ro_clean_rtng { display: flex; align-items: center; margin: 0 0 10px; }
.ro_comunictn_rtng { display: flex; align-items: center; }
.ro_rtng_txt { font-weight: 400; font-size: 12px; line-height: 18px; color: #666666; min-width: 160px; display: inline-block; margin: 0px; }
.ro_rtng_txt span { font-weight: 600; }
.ro_rtng_line { display: flex; width: calc(100% - 160px); background: #ededed; border-radius: 12px; }
.arting_line { height: 10px; background: #36B69D; display: inline-flex; width: 100%; border-radius: 20px; }
.ro_timlin_rtng .arting_line { background: #36B69D; }
.ro_clean_rtng .arting_line { background: #F1C644; }
.ro_comunictn_rtng .arting_line { background: #00B4FC; }
.eifr_dis { font-weight: 400; font-size: 16px; line-height: 24px; color: #333333; margin: 20px 0 22px; }

.review_box { background: #fff; padding: 1rem; }
.skt_eifr { background: #fff; padding: 24px; border-radius: 10px; margin-top: 14px; }

@media (max-width: 767px) {
  .reviews_overview { flex-wrap: wrap; row-gap: 20px; }
  .reviews_overview .ro_l { width: 50%; padding: 0 10px; }
  .reviews_overview .ro_c { width: 50%; padding: 0 10px; border-right: 0px; }
  .reviews_overview .ro_r { width: 100%; padding: 0px; }
  .reviews_overview .ro_tlt { font-size: 14px; }
  .rtng_stars .material-icons { font-size: 16px; }
  .ro_totl_rew { font-size: 24px; line-height: 28px; }
  .ro_avrg_rtgn .ro_avrg_no { font-size: 24px; line-height: 28px; }
}