<div class="manage_subscription_con">
  <div class="subscription_history_table">
    <div class="sht_box">
      <h4 class="page_heading">Subscription History</h4>
      <table class="table table-hover table-borderless mt-5">
        <thead>
          <tr>
            <th scope="col" class="">Date</th>
            <th scope="col" class="">Plan</th>
            <th scope="col" class="">Amount</th>
            <th scope="col" class="">Status</th>
            <th scope="col" class="">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">20/03/2023</td>
            <td scope="row" class="">Startup Plan</td>
            <td scope="row" class="">$0</td>
            <td scope="row" class="txt_p">Success</td>
            <td scope="row" class="">
              <span class="sht_tbl_actn">Invoice</span>
            </td>
          </tr>
          <tr>
            <td scope="row">20/03/2023</td>
            <td scope="row" class="">Business Plan</td>
            <td scope="row" class="">$19</td>
            <td scope="row" class="txt_d">Expired</td>
            <td scope="row" class="">
              <span class="sht_tbl_actn">Invoice</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
