<div class="profile_box mt-4">
  
    <div >
      <!-- <h4>Overview</h4> -->
      <p class="detail_value">Located conveniently off the interstate, our truck parking facility offers spacious, well-lit spots with 24/7 security surveillance. Enjoy easy access to nearby amenities, including restrooms, dining, and fuel stations. Ideal for both short-term stops and extended stays.
      </p>
      <p>This information was provided by <strong>Adrian Eb</strong> </p>
      <hr class="mt-4 mb-4">
      <img src="assets/images/amenities_map.png">
     </div>
  </div>