<div class="forgot_pass_form_container">
  <div class="form_con">
    <div class="container">
      <div class="forgot_fst_scr" *ngIf="currentTab==='forgot-password'">
        <div class="form_box">
          <form [formGroup]="forGotForm" (ngSubmit)="forGotPass(forGotForm)" class="cn_field" autocomplete="off">
            <div class="fp_box">
              <p class="form_tlt">Reset your password</p>
              <div class="">
                <p class="cn_input_lbl">Email Address<span class="txt_d"> *</span></p>
                <mat-form-field appearance="none">
                  <input type="email" matInput formControlName="username" class="form-control cn_input" maxlength="128" placeholder="Please Enter your Email" />
                  <mat-error *ngIf="forpasswordsumbit && forGotForm.get('username').errors?.['required']" class="error_mess">Email is required.</mat-error>
                  <mat-error *ngIf="forGotForm.get('username').errors?.['pattern']" class="error_mess">Please enter valid email address.</mat-error>
                  <mat-error *ngIf="(forGotForm.get('username').errors?.['maxlength']) && !(forGotForm.get('username').errors?.['pattern'])" class="error_mess">Email must not exceed 128 characters.</mat-error>
                </mat-form-field>
                <small class="remember_password error_mess" *ngIf="oopsError">{{oopsError}}</small>
              </div>
              <div class="form_action">
                <button class="cn_btn" type="submit">Get verification code</button>
              </div>
            </div>
          </form>
        </div>
        <p class="acc_sign_up">
          <span>Back to</span> 
          <span class="signup_txt" (click)="goToLogin()"> Sign in</span>
        </p>
      </div>

      <!-- Email OTP for Password reset -->
      <div class="forgot_snd_scr" *ngIf="currentTab==='email-verify-forgot-password'">
        <div class="form_box">
          <form [formGroup]="optVerifictionForm" (ngSubmit)="optVerifyForPassword(optVerifictionForm)" class="cn_field" autocomplete="off">
            <div class="email_otp_box">
              <p class="form_tlt">Check your email</p>
              <p class="form_dis">We've sent a 6-digit verification code to <span class="fsm_5 txt_b">{{setEmail}}</span>. If you are registered in our system please check your inbox (or possible spam folder) and enter the code you received below to confirm your email address.</p>
              <div class="">
                <p class="cn_input_lbl">Verification code<span class="txt_d">*</span></p>
                <mat-form-field appearance="none">
                  <input type="text" matInput formControlName="email_otp" class="form-control cn_input" placeholder="Enter Verification Code" minlength="6" maxlength="6" (input)="keyPasteEmail($event)" (keypress)="keyPressEamil($event)"/>
                  <mat-error *ngIf="optVerifictionSumit && optVerifictionForm.get('email_otp').errors?.['required']" class="error_mess">Verification code is required.</mat-error>
                  <mat-error *ngIf="optVerifictionForm.get('email_otp').errors?.['maxlength']" class="error_mess">Verification code should have maximum 6 digits.</mat-error>
                  <mat-error *ngIf="optVerifictionForm.get('email_otp').errors?.['minlength']" class="error_mess">Verification code should have minimum 6 digits.</mat-error>
                </mat-form-field>
              </div>
              <small class="fs_14 fsn_4 txt_s" *ngIf="showMessage">{{showMessage}}</small>
          <small class="error_mess" *ngIf="oopsError">{{oopsError}}</small>
              <div class="form_action">
                <button class="cn_btn" type="submit">Verify OTP</button>
              </div>
            </div>
          </form>
        </div>
        <div class="acc_sign_up">
          <span>Having Trouble? </span>
          <span class="signup_txt" (click)=resendOTP()> Resend OTP</span>
          <span *ngIf="spinnerLoading" class="custom_spinner spinner-border" role="status">
            <span class="sr-only">
              <!-- Loading... -->
            </span>
          </span>
          
        </div>
        <div class="acc_sign_up mt-2">
          <span>Sign in</span>
          <span class="signup_txt" (click)="backVerifyForgot('forgot-password')"> Back</span>
        </div>
      </div>

      <!-- Email OTP for Password reset -->
      <div class="forgot_snd_scr" *ngIf="currentTab==='change-password'">
        <div class="form_box">
          <form [formGroup]="createNewPasswordForm" (ngSubmit)="createPasswordSumbit(createNewPasswordForm)" class="cn_field" autocomplete="off">
            <p class="form_tlt">Reset your password</p>
            <div class="">
              <p class="cn_input_lbl">New Password<span class="txt_d">*</span></p>
              <mat-form-field appearance="none" class="ic_password">
                <input type="text" matInput type="pasword" placeholder="Enter New Password" formControlName="newPassword" name="newPassword" [type]="hide1 ? 'password' : 'text'" minlength="6" maxlength="16" class="form-control cn_input">                
                <mat-icon matSuffix  class="txt_lb password_icn" (click)="newPassword(hide1);">{{ hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="createNewPasswordForm.get('newPassword').errors?.['required']" class="error_mess">Password is required.</mat-error>
                <mat-error *ngIf="createNewPasswordForm.get('newPassword').errors?.['minlength']" class="error_mess">Password min lengh must be 6 character.</mat-error>
                <mat-error *ngIf="createNewPasswordForm.get('newPassword').errors?.['maxlength']" class="error_mess">Only 16 characters are allowed.</mat-error>
              </mat-form-field>
            </div>
            <div class="">
              <p class="cn_input_lbl">Re-enter your Password</p>
              <mat-form-field appearance="none" class="ic_password">
                <input type="text" matInput type="pasword" placeholder="Re-enter your Password" formControlName="confirmPassword" name="confirmPassword" [type]="hide2 ? 'password' : 'text'" class="form-control cn_input" maxlength="16">
                <mat-icon matSuffix  class="txt_lb password_icn" (click)="reEnterPassword(hide2);">{{ hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="createNewPasswordForm.get('confirmPassword').errors?.['required']" class="error_mess">Confirm password is required.</mat-error>
                <mat-error *ngIf="createNewPasswordForm.get('confirmPassword').errors?.['mustMatch']" class="error_mess">Password do not match.</mat-error>
              </mat-form-field>
              <p class="resend_otp_box fs_14 fsm_5">
                <small class="fs_14 fsn_4 txt_s" *ngIf="showMessage">{{showMessage}}</small>
                <small class="error_mess" *ngIf="oopsError">{{oopsError}}</small>
              </p>
            </div>
            <div class="form_action">
              <button class="cn_btn" type="submit">Reset</button>
            </div>
          </form>
        </div>
      </div>

      <div class="succ_con" *ngIf="currentTab==='success-password'">
        <div class="form_box">
          <span class="material-icons-outlined succ_icon">check_circle</span>
          <p class="form_succ_tlt">Thank You!</p>
          <p class="form_dis_tlt">You have successfully reset your password.</p>
        </div>
        <div class="acc_sign_up">
          <span>Back to </span>
          <span class="signup_txt" (click)="goToLogin()"> Sign in </span>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
