<div class="profile_box mt-4">
  
    <div >
      <!-- <h4>Overview</h4> -->
      <p class="detail_value"> Gomez Trucking Inc, doing business as Gomez Trucking Inc, is a trucking company based in Sugar Land, TX 77478, US. Operating since 04 Sep, 2003, the company has over 21 Years, 4 Months, of experience in the industry. With DOT number 999999 and docket number MC415757, Gomez Trucking Inc specializes in interstate non hazmat cargo transport. The company holds FMCSA inactive authority. Physical location: 4565 Highway 6 South, Sugar Land, TX 77478, US. Mailing location: 4565 Highway 6 South, Sugar Land, TX 77478, US.
      </p>
      <hr class="mt-4 mb-4">
      <div class="pdt_highlit_points d-flex gap-4 mt-3">
        <div class="pdt_hlp_col">
          <p class="detail_title" matTooltip="Data Universal Numbering System"
          aria-label="Button that displays a tooltip when focused or hovered over">DUNS</p>
          <p class="detail_value">
            123456789
          </p>
        </div>
        <div class="pdt_hlp_col">
          <p class="detail_title" matTooltip="Standard Carrier Alpha Code"
          aria-label="Button that displays a tooltip when focused or hovered over">SCAC</p>
          <p class="detail_value">
            CLVF
          </p>
        </div>
        <div class="pdt_hlp_col">
          <p class="detail_title" matTooltip="Office of Insurance Commissioner State"
          aria-label="Button that displays a tooltip when focused or hovered over">OIC State</p>
          <p class="detail_value">California</p>
        </div>
        <div class="pdt_hlp_col">
          <p class="detail_title" >Representative</p>
          <p class="detail_value">John Doe (Operations Manager)</p>
        </div>
    
        <div class="pdt_hlp_col">
          <p class="detail_title">Website</p>
          <p class="detail_value"><a href="">(http://www.cloverfence.com)</a></p>
        </div>
      </div>
      <hr class="mt-4 mb-4">
      <div class="mt-5">
        <h4><i class="fa-sharp fa-regular fa-person-running-fast"></i> Fleet Details</h4>
        <table class="table w-50">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Tractors</th>
              <th scope="col">Trailers</th>
              <th scope="col">Trucks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Owned</td>
              <td>5</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Leased</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Temporary</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>