<div class="content_box edit_business_info_con">
  <h3 class="content_tlt">Google Analytics</h3>
  <div class="content_body">
    <p class="content_dis" *ngIf="!skeletonLoader">The Google Analytics code is a snippet of JavaScript provided by Google that is inserted into the HTML code of a website or mobile app. This code collects data about user interactions and sends it to the Google Analytics servers for analysis. The tracking code is unique to each property within Google Analytics and allows businesses to track various metrics such as website traffic, user behavior, conversions, and more. By implementing the Google Analytics code correctly, businesses can gain valuable insights into their online audience and make data-driven decisions to improve their digital presence and achieve their goals.</p>
    <div class="cn_field" *ngIf="!skeletonLoader">
      <form autocomplete="off" [formGroup]="googleAnalyticsForm" (ngSubmit)="googleAnalyticsSubmit(googleAnalyticsForm)">
        <div class="row">
            <div class="col-md-12">
              <p class="cn_input_lbl">Google Analytics <span class="txt_d"> *</span></p>
              <mat-form-field appearance="none">
                <input matInput type="text" formControlName="googleAnalyticsCode" placeholder=" Enter Google Analytics"
                  class="form-control cn_input" maxlength="256" autocomplete="off" />
                <mat-error class="error_mess d_inline"
                  *ngIf="googleAnalyticsForm?.get('googleAnalyticsCode').errors?.['required']">Google analytics required.</mat-error>
                <mat-error *ngIf="googleAnalyticsForm.get('googleAnalyticsCode').errors?.['maxlength']">
                  Only 255 characters are allowed
                </mat-error>
              </mat-form-field>
            </div>
        </div>
        <div class="form_action">
          <button type="submit" class="cn_btn">Submit</button>
        </div>
      </form>
    </div>

    <div class="skt_eifr" *ngIf="skeletonLoader">
      <div *ngFor="let fake of generateFakeSkeleton(8)">
        <ngx-skeleton-loader count="1"
          [theme]="{ width: '100%', height: '16px', margin: '0px 0 8px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1"
          [theme]="{ width: '100%', height: '30px', margin: '0px 0 24px' }"></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>