<div class="content_box">
  <div class="contnt_hed mb-1">
    <div class="ch_l">
      <h3 class="ch_tlt">Team Member List</h3>
    </div>
    <div class="ch_rl"></div>
  </div>

<div class="content_body">
  <p class="content_dis mb-4"> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat ratione labore impedit, natus tempore enim magni ut, nulla incidunt vel quo minus officiis provident, libero eius aliquid tenetur deserunt. Distinctio placeat ratione labore impedit, natus tempore enim magni ut, nulla incidunt vel quo minus officiis provident, libero eius aliquid tenetur deserunt.
  </p>
  <div class="table_data_con">
    <div class="table_actions">
      <form class="cn_field">
        <div class="btns_box">
          <div class="row align-items-center">
            <div class="col-md-5">
              <p class="txt_1 fw_6" [ngClass]="{'d-none': !showAdvancedFilter}">Advanced Filter</p>
              <div class="comn_fltr" [ngClass]="{'d-none': showAdvancedFilter}">
                <mat-form-field appearance="none">
                  <mat-label>Table Search</mat-label>
                  <mat-icon matTextPrefix class="material-symbols-outlined">filter_list</mat-icon>
                  <input type="text" matInput placeholder="Search" class="form-control cn_input ms-2"  [formControl]="searchControl"  (keyup)="applyFilter()">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-7">
              <div class="btn_r">
                <a class="cn_btn txt_btn" [routerLink]="['add']">
                  <!-- <i class="fa-solid fa-plus me-2"></i> -->
                  <span>Add Member</span>
                </a>
                <!-- <span class="cn_btn icn_btn adv_filter_btn" (click)="toggleFilter()">
                  <i class="fa-sharp fa-solid fa-filter"></i>
                </span> -->
                <span class="cn_btn icn_btn" (click)="refresh()">
                  <i class="fa-duotone fa-solid fa-rotate-right"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="filter_box" [ngClass]="{'d-none': !showAdvancedFilter}">
            <div class="filtr_con">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>User Type</mat-label>
                      <mat-select>
                        <mat-option value="carrier">Carrier</mat-option>
                        <mat-option value="shipper">Shipper</mat-option>
                        <mat-option value="broker">Broker</mat-option>
                        <mat-option value="Dispature">Dispature</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>User Location</mat-label>
                      <input type="text" matInput placeholder="Search">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>Postal Code</mat-label>
                      <input type="text" matInput placeholder="Search">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>Source</mat-label>
                      <input type="text" matInput placeholder="Search">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>Rank</mat-label>
                      <input type="text" matInput placeholder="Search">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>Page Viewed</mat-label>
                      <input type="text" matInput placeholder="Search">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="date_range_filter">
                      <mat-label>Accessed At</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                      </mat-date-range-input>
                      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <p class="cn_input_lbl">Checkbox</p>
                    <mat-checkbox class="me-3">Checked</mat-checkbox>
                    <mat-checkbox class="">Indeterminate</mat-checkbox>
                  </div>
                  <div class="col-md-3">
                    <p class="cn_input_lbl">Toggle</p>
                    <mat-button-toggle-group class="toggle_switch" name="fontStyle" aria-label="Font Style">
                      <mat-button-toggle value="yes">Yes</mat-button-toggle>
                      <mat-button-toggle value="no">NO</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                  <div class="col-md-12">
                    <div class="fltr_actn">
                      <button class="cn_btn btn_bordered">Clear</button>
                      <button class="cn_btn">Apply</button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </form> 
    </div>
    <div class="table_data" tabindex="0">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element" class="fw_5">
            <div class="membr_info">
              <span>{{ element.firstName + ' ' + element.lastName }}</span>
              <div class="phone_data">
                <i class="fa-duotone fa-solid fa-phone txt_p"></i>
                <span>{{element.phone}}</span>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element" 
          [class.txt_lb]="element.activeStatus === 0" 
          [class.txt_s]="element.activeStatus !== 0">
        {{ element.activeStatus === 0 ? 'In-active' : 'Active' }}
      </td>
      
          
        </ng-container>
        <ng-container matColumnDef="permission">
          <th mat-header-cell *matHeaderCellDef> Permission </th>
          <td mat-cell *matCellDef="let element" class="fw_5">
            {{ getPermissionNames(element.teamPermission) }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center actin_col"> Action </th>
          <!-- <td mat-cell *matCellDef="let element" class="actin_td">
            <div class="actin_icon">
              <a [routerLink]="['/teams/edit']" [state]="{ data: element }" class="actn_btn">
                <i class="fa-duotone fa-solid fa-user-pen txt_p"></i>
              </a>
              <a  (click)="deleteTeamMember(loadData,'editLoadAvailList')" class="actn_btn">
                <i class="fa-duotone fa-solid fa-trash txt_d"></i>
              </a>
            </div>
          </td> -->
          <td mat-cell *matCellDef="let element" class="actin_td">
            <div class="actin_icon">
              <a [routerLink]="['/teams/edit']" [state]="{ data: element }" class="actn_btn">
                <i class="fa-duotone fa-solid fa-user-pen txt_p"></i>
              </a>
              <div class="actin_icon cus_slide_toggle">
                <mat-slide-toggle  [checked]="element.activeStatus === 0 ? false : true"></mat-slide-toggle>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="text-center my-5" *ngIf="showScrollSpinner">
        <span
          class="spinner-border"
          role="status"
          style="color: #00b4fc"
        ></span>
      </div>
    </div>
  </div>
</div>
<div class="skeletonloader" *ngIf="dataSource.filteredData.length === 0">
  <div class="empty-state">
    <div class="empty-state__content">
      <div class="empty-state__icon">
        <img src="./assets/images/no_data_found_img.jpg" alt="">
      </div>
      <div class="empty-state__message">Team Member List</div>
      <p class="empty-state__help">There is no Team Member</p>
    </div>
  </div>
</div>
