.sign_in_body { margin: 64px 0 0; background: #fff; }
.sign_in_box { min-height: calc(100vh - 174px); display: flex; align-items: center; justify-content: center; }
.signin_inner { padding-top: 60px; }

.sign_in_con { width: 440px; margin: 0 auto; box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 32px 42px; background: #fff; }
.sign_in_con .ic_password .custom_input { border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.sign_in_con .ic_password button { top: 2px; }
.sign_in_con .sf_form_tlt { font-size: 24px; line-height:30px; font-weight: 500; font-family: 'Clash Display'; margin: 0 0 24px; }
.sign_in_con .btn { width: 100%; border-radius: 5px; box-shadow: none; }
.sign_in_con .forgot_txt { font-size: 14px; line-height: 16px; font-weight: 500; color: #3787E6; display: inline-block; float: right; margin: 5px 0 25px;  cursor: pointer; position: relative; z-index: 0; }

.sign_up_txt { text-align: center; margin: 30px 0 0; font-weight: 400; font-size: 16px; line-height: 20px; color: #818181; }
.sign_up_txt u { color: #3787E6; margin: 0 0 0 4px; cursor: pointer; }

.sign_in_con .remember_password { font-weight: 500; }
/*.sign_in_con .remember_password { margin: -20px 0 0; display: block; }*/

.input_field_box { position: relative; }
.input_field_box small.error_mess { position: absolute; top: 73px; }

@media (max-width: 640px) {
	.sign_in_box { min-height: calc(100vh - 175px); width: 90%; margin: 0 auto; }
	.signin_inner { padding-top: 24px; width: 100%; }
	.sign_in_con { width: 100%; max-width: 100%; margin: 0; padding: 24px 20px; }
}